[2022-04-21 21:32] community-health-panw[bot] opened #56 "[Community Health Assessment] Changes needed"
This issue was opened by a bot called [Community Health (PANW)](https://github.com/apps/community-health-panw) because this repo has failed too many community health checks.

**Repo maintainers:** Please take the time to fix the issues in the table to reach the target score. These improvements will help others find your work and contribute to it. This issue will update as your score improves until

[2022-04-27 14:07] sserrata opened #63 "🗑️ 🦝 [Spring Cleaning] Rename packages and update documentation"
## Description

This issue is for tracking progression through renaming repository and packages and updating all supporting licenses and docs, e.g. READMEs, license headers, usage, screenshots, etc.

Proposed naming:

Repository: `docusaurus-openapi-docs`
Plugin: `docusaurus-plugin-openapi-docs`
Theme: `docusaurus-theme-openapi-docs`

Logo: TBD

## Motivation

Since forking the original [docusauru

[2022-04-28 13:29] sserrata opened #66 "[Bug] Paginator not rendering on history change"
## Describe the bug

Paginator is sometimes not rendering when cycling through endpoints via the sidebar. It seems to always appear on initial page load but not on history change.

## Expected behavior

Paginator should appear for every API doc, regardless of how a user navigates to it.

## Current behavior

https://user-images.githubusercontent.com/9343811/165762023-b183f5f6-8059-49f5-8ebe-218920

[2022-04-29 15:30] #66 closed

[2022-05-07 18:50] AustinHunt opened #78 "Hook useTabGroupChoice is called outside the <TabGroupChoiceProvider>"
## Describe the bug

Attempting to use the `yarn docusaurus gen-api-docs all` command to generate docs. Got the base route to render, but when I click on any other route I get a "This page crashed" error with "Hook useTabGroupChoice is called outside the `<TabGroupChoiceProvider>`."

My config
[code]

- Version used: 1.0.1 (plugin and theme)
- Environment name and version (e.g. Chrome 59, node.js

[2022-05-08 00:17] AustinHunt commented on #78
Ah, 2.0.0-beta.20 is the issue. If I downgrade to 2.0.0-beta.18 I'm good.

[2022-05-09 16:05] sserrata opened #79 "[Bug] 2.0.0-beta.19 and 2.0.0-beta.20 Breaking Changes"
## Describe the bug

Docusaurus `2.0.0-beta.19` and `2.0.0-beta.20` introduced breaking changes preventing us from upgrading from `2.0.0-beta.18`. This issue will be used for both bug and progress tracking as we work through the issues.

## Expected behavior

There should be a viable upgrade path moving from 2.0.0-beta.18 to beta.19 or beta.20.

## Current behavior

Currently, we're able to run be

[2022-05-09 16:06] sserrata commented on #78
Using #79 to continue tracking this issue.

[2022-05-09 16:06] #78 closed

[2022-05-09 16:31] sserrata commented on #79
Target release: 2.0.0-beta.20

- ✅ Dev server
- ❌ Production Build

Stack trace:

[code]

[2022-05-12 19:11] sserrata opened #83 "[Theme] Possible @theme/Tabs namespace collision"
## Describe the bug

The `Tabs` component included in `docusaurus-theme-openapi-docs` directly conflicts with the one included in `docusaurus-theme-classic`.

## Expected behavior

The components in `docusaurus-theme-openapi-docs` should not affect components from other themes.

## Current behavior

@theme/Tabs namespace collision

## Possible solution

Consider renaming `docusaurus-theme-openapi-

[2022-05-13 14:43] #83 closed

[2022-05-17 15:22] sserrata opened #88 "[FR] Add support for client credentials security scheme"
### Is your feature request related to a problem?

Requesting support for client credentials security scheme. Could also include support for remaining security scheme types.

### Describe the solution you'd like

A solution similar to our support for API keys and basic auth.

### Describe alternatives you've considered

N/A

### Additional context

Since we are no longer allowing users to enter th

[2022-05-17 15:28] sserrata opened #89 "[FR] Write remaining info fields to index.api.mdx"
### Is your feature request related to a problem?

Currently, we include only the info title, description and version badge.

### Describe the solution you'd like

Ideally, we would also include any remaining fields, e.g. support contact, support URL, terms of service, license. See the following for more details: https://swagger.io/docs/specification/api-general-info/

### Describe alternatives yo

[2022-05-17 22:22] matoous opened #90 "[FR] index pages for individual tags"
### Is your feature request related to a problem?

If operations are grouped by tags (`groupPathsBy: 'tags'` option) the operations are correctly grouped under individual tags but even if the tag has description it is nowhere to be found.

### Describe the solution you'd like

It would be perfect if the tag description could be used to generate index pages for individual tags.

### Describe altern

[2022-05-17 23:14] sserrata commented on #90
Thanks for the FR @matoous! We can certainly take a look to see if this is possible and would definitely appreciate a contribution.

[2022-05-17 23:53] #56 closed

[2022-05-18 20:40] community-health-panw[bot] opened #94 "[Community Health Assessment] Changes needed"
This issue was opened by a bot called [Community Health (PANW)](https://github.com/apps/community-health-panw) because this repo has failed too many community health checks.

**Repo maintainers:** Please take the time to fix the issues in the table to reach the target score. These improvements will help others find your work and contribute to it. This issue will update as your score improves until

[2022-05-19 15:00] sserrata opened #95 "[FR] Improve support for micro-specs"
### Is your feature request related to a problem?

In some cases, OpenAPI docs may be split into multiple micro-specs that, collectively, represent a single, logical API. In those cases, each micro-spec will come with its own `info` section which will also generate a `index.api.mdx`. When grouping paths by tag, this can lead to filename collisions as each subsequent `index.api.mdx` file that is ge

[2022-05-20 18:45] sserrata commented on #79
Able to build successfully after https://github.com/facebook/docusaurus/pull/7453 was merged

[2022-05-20 18:45] #79 closed

[2022-05-22 18:06] matoous commented on #90
@sserrata I see this new commit made it's way to `main`: https://github.com/PaloAltoNetworks/docusaurus-openapi-docs/commit/e17c515ec0cc0ca1b99e1b3a6e193204b1b78a5e, is it related to this?

[2022-05-23 02:18] yongwee opened #99 "[FR] Execute query from docs page"
### Is your feature request related to a problem?

No way to execute queries from docs page right now since Execute button has been removed.

Noticed that Execute button for executing queries directly from the docs page used to be there but was removed from v18.0.0 onwards.

### Describe the solution you'd like

Bring back the query execution capability.

### Describe alternatives you've considere

[2022-05-23 13:25] sserrata commented on #99
Hi @yongwee, we intentionally removed this option since it poses a security risk by allowing the storage of API keys/tokens in the browser.

[2022-05-23 13:29] sserrata commented on #90
Hi @matoous, yes, but it needs a little more work before it's ready. The idea will be to allow users to select whether they want to use "tag" descriptions or "info" as the "index" page for categories. The default will be "tag" descriptions when grouping paths by tag.

[2022-05-23 15:24] #88 closed, assigned to blindaa121

[2022-05-23 20:08] sserrata commented on #90
Hi @matoous, the changes have been merged and can be tested using canary release [0.0.0-355](https://www.npmjs.com/package/docusaurus-plugin-openapi-docs/v/0.0.0-355). Be sure to also upgrade the theme.

Please see the `README.md` for usage or just adapt this example:

[code]

Interested in your feedback on the end result and usage. Thanks!

[2022-05-23 20:08] #95 closed

[2022-05-23 20:08] #89 closed

[2022-05-24 06:39] matoous commented on #90
@sserrata just gave it a try, exactly what we were looking for! Awesome, thanks a lot 🙏

[2022-05-24 12:15] #90 closed

[2022-05-24 12:15] #99 closed

[2022-05-24 13:28] sserrata opened #103 "[Polish] Cleanup method color variables"
## Describe the bug

Currently there are gaps/inconsistencies in how `--openapi-code-*` colors map to `--ifm-color-*` colors. We are also missing a badge/color for the `HEAD` method in the `ApiDemoPanel`.

## Expected behavior

We should strive to keep colors consistent between `docusaurus-theme-openapi-docs` and `theme-classic`.

## Current behavior

## Possible solution

Cleanup colors.

## Step

[2022-05-25 13:45] sserrata commented on #103
Addressed in #105

[2022-05-25 13:45] #103 closed, assigned to nobody

[2022-05-25 13:51] sserrata opened #106 "[Bug] Specs with no tags throw exception when grouping by tags"
## Describe the bug

Using `groupPathsby: "tags"` on a spec with no tags results in the following error:

[code]

## Expected behavior

A spec with no tags should use a fallback "UNTAGGED" grouping to handle grouping paths.

## Current behavior

See error above.

## Possible solution

Reinstate the `UNTAGGED` group and add additional checks to determine if tags exist before proceeding.

## Steps t

[2022-05-26 15:26] #106 closed

[2022-05-27 15:05] sserrata opened #109 "[FR] Expand details by 1L for desktop view"
### Is your feature request related to a problem?

Not really, more of an enhancement.

### Describe the solution you'd like

Might be useful to expand details components by one level for desktop view. Mobile can stay collapsed by default.

### Describe alternatives you've considered

I've tried expanding the details myself but it adds at least one extra click and sometimes I'm disappointed with w

[2022-05-30 16:51] sserrata opened #111 "[FR] Improve overall error handling and fault tolerance"
### Is your feature request related to a problem?

Under most circumstances, the `docusaurus-plugin-openapi-docs` plugin successfully reads, parses and generates MDX for a given OpenAPI specification. Still, there are times when processing errors occur, due to gaps or incompatibilities, which can lead to exceptions. These errors can occur for a number of reasons at a number of points during proces

[2022-05-31 15:57] sserrata opened #112 "[FR] Generate tags as doc pages with embedded index"
### Is your feature request related to a problem?

There are no plans to introduce markdown/MDX support to `generated-index` link descriptions. Many of our API specs contain markdown in their tag descriptions which leads to broken or unreadable text.

### Describe the solution you'd like

Allow support for generating tag doc pages with embedded index when `categoryLinkSource` is set to "tag". This

[2022-05-31 16:02] sserrata opened #113 "[FR] Support for downloading OpenAPI specification file"
### Is your feature request related to a problem?

Today, there is no method for downloading the source OpenAPI specification file, for use "offline", e.g. Postman, Insomnia, SDK generation, some other doc tool, etc.

### Describe the solution you'd like

Ability to download a formatted, enriched copy of the OpenAPI spec for each set of API docs.

### Describe alternatives you've considered

Linki

[2022-06-01 20:42] #112 closed

[2022-06-02 20:39] sserrata opened #117 "[FR] Support for sourcing from URL $ref"
### Is your feature request related to a problem?

Currently, descriptions sourced from a URL `$ref` are not rendered properly.

### Describe the solution you'd like

The idea would be to support resolving URL refs such that items like descriptions, summary, etc., can be sourced by URL, e.g. from GitHub (raw).

### Describe alternatives you've considered

Dereferencing the git/URL-sourced content

[2022-06-03 22:49] sserrata opened #119 "[FR] Include status code response examples when available"
### Is your feature request related to a problem?

Currently we do nothing with response examples, which could be helpful for understanding possible responses the API could return for different status codes.

### Describe the solution you'd like

In addition to response code `Schema`, we can provide the end user with the option to select and view example responses for that status code, similar to

[2022-06-06 17:29] blindaa121 opened #123 "[Bug] Console warning: Duplicate key for multiple Security Schemes"
## Describe the bug

In some cases, certain API's require multiple security schemes for authentication. As of now, the current `<SecuritySchemes />` component only supports a single security scheme render.

![Screen Shot 2022-06-06 at 9 32 48 AM](https://user-images.githubusercontent.com/48506502/172210596-3811f94c-8c32-4d96-8e9e-d0ae161b0cce.png)

## Expected behavior

There should be unique keys

[2022-06-07 19:15] sserrata commented on #109
I am comfortable merging as-is and effectively making the default for mobile/desktop to expand schemas 1L.

[2022-06-09 19:35] #109 closed

[2022-06-10 20:02] sserrata opened #128 "[FR] API doc version context switcher"
### Is your feature request related to a problem?

When implementing versioning, it's easy for a user to forget or overlook which version of an API doc they are looking at. The existing versioning system provides a version dropdown selector but individual API docs lack the context necessary to label what API version it applies to.

### Describe the solution you'd like

An API doc "version context

[2022-06-13 19:48] sserrata opened #130 "[FR] Ability to sync language choice"
### Is your feature request related to a problem?

When navigating from one API doc to another the selected language does not persist.

### Describe the solution you'd like

Ability to sync and persist the language choice across all API docs. For example, if a user chooses "Python" then the choice should be persisted locally and automatically selected when they move across API docs.

### Describe

[2022-06-13 19:51] sserrata opened #131 "[FR] Extend Docusaurus syntax highlighting to code samples"
### Is your feature request related to a problem?

Today, syntax highlighting for API code samples is distinct from the syntax highlighting applied by Docusaurus.

### Describe the solution you'd like

Ideally, the syntax highlighting configured in `docusaurus.config.js` would automatically be applied to the code samples (and possibly the live request payload/param editor).

### Describe alternati

[2022-06-14 18:58] #131 closed

[2022-06-14 18:58] #130 closed

[2022-06-27 19:21] sserrata opened #140 "[FR] Improve multi/micro-spec support"
### Is your feature request related to a problem?

Currently, docs produced from multiple specs are written to the same directory and directory level. This presents issue when organizing and/or constructing sidebars for different APIs.

### Describe the solution you'd like

An organization strategy for handling multi-specs. For example:
* Group and write MDX files to a subdirectory named after keb

[2022-06-27 22:46] sserrata opened #141 "[FR] Improve a11y support for `ApiDemoPanel`"
### Is your feature request related to a problem?

Some elements in the `ApiDemoPanel` cannot be accessed by keyboard/tab.

### Describe the solution you'd like

Apply `tabindex: 0` to appropriate elements to ensure highest a11y experience.

### Describe alternatives you've considered

n/a

### Additional context

Improving a11y not only improves UX but also helps improve SEO.

[2022-06-27 22:54] csestito opened #142 "[FR] Support Parent Tag Grouping"
### Is your feature request related to a problem?

No

### Describe the solution you'd like

Today, we can group by tag for multiple spec files within the same directory. It would be nice to have the ability to group a set of those spec files together in one parent category instead of having to define separate APIs in the config.

##### The idea:
Add a `x-parent-category` option to the spec file(s

[2022-06-28 13:40] sserrata commented on #142
Thanks @csestito!

Have you considered perhaps going a step further to define Docusaurus vendor extensions? Also, perhaps we could swap `parent` with `root` (since it would be the top-most category)?

For example:

* `x-docusaurus-root-category` _string_
* `x-docusaurus-root-category-description` _string_ (could also contain MDX/MD)

[2022-07-06 14:36] sserrata opened #144 "[Bug] Some schemas not handled when `schemaName` doesn't match the strings "object" or "object[]""
## Describe the bug

While creating schema details, sometimes the evaluated `schemaName` did not match against the following conditions: https://github.com/PaloAltoNetworks/docusaurus-openapi-docs/blob/main/packages/docusaurus-plugin-openapi-docs/src/markdown/createSchemaDetails.ts#L55

I believe this occurs because the conditions only check for the string eval of each schema key and not the `type

[2022-07-06 14:40] sserrata opened #145 "[Bug] `resolveJsonRefs` not properly called/awaited"
## Describe the bug

The `resolveJsonRefs` function is not properly called, which sets the `resolved` variable value to a promise.

https://github.com/PaloAltoNetworks/docusaurus-openapi-docs/blob/main/packages/docusaurus-plugin-openapi-docs/src/openapi/utils/loadAndBundleSpec.ts#L66

## Expected behavior

The function is async and should be preceded with the `await` keyword.

## Current behavior

[2022-07-06 14:55] sserrata opened #146 "[Bug] Can't enable circular `$ref` resolution"
## Describe the bug

Currently, circular `$ref` pointers are not fully resolved. The are explicitly "ignored" by the JSON schema `dereference` utility.

## Expected behavior

Ideally, circular `$ref` pointers should be fully resolved, so long as serialization is not required or broken.

## Current behavior

Some dependencies, like `openapi-to-postman`, are attempting to serialize the OpenAPI `obje

[2022-07-06 14:58] sserrata commented on #111
After some internal discussion, we determined it would be better to focus on improving our testbed. Archiving this issue for now.

[2022-07-06 14:58] #111 closed

[2022-07-06 15:04] csestito commented on #142
Update: Not going to fix this use case.

The parent grouping/groubBySpec is accomplishable with proper tagging and division of the spec files. This is a narrow use case and shouldn't cause us to rewrite the logic. It is best to keep the base groupByTags and allow the user to organize their specs or customize the sidebar in a way they'd like it to display.

If you'd like to group spec files togethe

[2022-07-06 15:04] #142 closed

[2022-07-06 15:55] #145 closed

[2022-07-06 15:56] sserrata commented on #144
On second inspection, this might be the intended behavior, although there are instances where `schemaName` doesn't match conditions but still need to be handled. Will update this issue once I can successfully reproduce the issue.

[2022-07-07 21:25] sajjadrad opened #150 "Security Schema doesn't work in the output"
## Describe the bug

The authorization form is empty for the authentication-required paths.

## Expected behavior

An authorization form with the required header for passing the security parameter.

## Current behavior

The authorization form is empty.

## Possible solution

-

## Steps to reproduce

1. Use this spec:
[code]
2. Run `npm run start`
3. Click on the authorize button at the top right.

[2022-07-09 20:41] homotechsual opened #151 "Incompatible with Beta22"
## Describe the bug

Due to the changes to DocItem this is no longer compatible with Docusaurus Beta22

## Expected behavior

Plugin works

## Current behavior

Plugin errors because DocItemFooter no longer exists.

## Possible solution

## Steps to reproduce

Install Beta22 and attempt to build or serve.

[2022-07-11 06:20] venky216 opened #152 "Is there a way to upload yaml file and render UI on live?"

[2022-07-11 15:53] blindaa121 commented on #141
PR: #149

The following `ApiDemoPanel` components are now fully supported with keyboard tab:

- `ParamOptions`
- `Server`

Pending Components:

- [ ] Tab support for `LiveEditor`. Potential solutions achieve expected behavior when building locally, but does not persist within the Deployed Preview. Will need to investigate further, and/or table until `prop` solution becomes available for `react-liv

[2022-07-11 16:30] blindaa121 commented on #151
Thank you for brining this to our attention! It turns out that the latest upgrade to Docusaurus `beta.22` moved the `DocItemFooter` component into a new directory. Although, there may be some additional minor fixes needed to get the plugin up and running with `beta.22`, will keep you posted! 👍

Reference: https://github.com/facebook/docusaurus/pull/7644

[2022-07-11 17:54] homotechsual opened #153 "Question: Can we add additional code samples?"
This seems not to read the `x-codesample` from the API spec but is instead generating it's own code examples. So can we hook into that to add, for example, PowerShell examples?

[2022-07-11 20:17] sserrata commented on #153
Hi @homotechsual, you're correct: the code examples are being generated using a forked instance of [postman-code-generators](https://github.com/PaloAltoNetworks/postman-code-generators/tree/panw-develop). For now, we intentionally limit support to Python, Javascript, Golang, and cURL, to help reduce the overall webpack bundle size. Although we could potentially support [more languages](https://git

[2022-07-11 20:17] sserrata commented on #152
Hi @venky216, can you add a bit more context around the problem?

[2022-07-11 20:22] homotechsual commented on #153
Yeah it's already user-configurable to a degree - as the plugin can read from `themeConfig.languageTabs` but as you say the actual generator is missing from PowerShell.

I wonder if a hybrid approach might make sense - leveraging `x-codesamples`/`x-code-samples` (why do I see both used 🤣 in different example specs) and generating some kind of config like:

[code]

      In any event I'll dig into

[2022-07-12 12:17] homotechsual commented on #153
@sserrata could you point at where the various "allowed" languages are controlled, from what I see here: https://github.com/PaloAltoNetworks/docusaurus-openapi-docs/blob/ffaf42bd4c0665096d4ca2a0fa39a4530f7b008f/packages/docusaurus-theme-openapi-docs/src/theme/ApiDemoPanel/Curl/index.tsx#L144 I should be able to define languages in `themeConfig.languageTabs` and I do but the new tab loads the first

[2022-07-12 13:11] sserrata commented on #153
😄 Yeah, the `x-*` is just a convention for extensions so it's not uncommon to find variations. One thing to factor in is that the generated code samples change depending on the inputs/form values, whereas `x-code-samples` would ostensibly be static.

They're externally limited in the [PaloAltoNetworks/postman-code-generators](https://github.com/PaloAltoNetworks/postman-code-generators/tree/panw-de

[2022-07-12 13:12] #150 closed

[2022-07-12 13:15] sserrata commented on #152
FWIW, the plugin generates MDX files intended to be rendered by [Docusaurus](https://docusaurus.io/). Minimally, you'll need Docusaurus, your OpenAPI spec, and, after generating the MDX files, you'll need to run `yarn start` to run a dev server locally. For production, you'll need to deploy and serve your build directory using some static-hosting site, CDN, or web server of your choosing. Hope thi

[2022-07-12 13:16] sserrata commented on #146
See #154 for possible solution.

[2022-07-12 13:17] #144 closed

[2022-07-12 19:52] sserrata opened #156 "[Enhancement] Add discriminator support"
Carried over from #154

### Is your feature request related to a problem?

Currently there is no support for handling discriminators. Moreover, discriminator $ref pointers don't adhere to JSON Schema specification and are thus not resolved by  our parser/resolver. This means we will need to resolve discriminator $ref pointers on-demand.

### Describe the solution you'd like

- Implement support fo

[2022-07-12 19:58] sserrata opened #157 "[Bug] Circular label not being applied in all cases"
## Describe the bug

With the new resolver/serializer, circular schema references should be replaced with a "circular" label. There are cases where this label is not properly applied (see below):

<img width="519" alt="Screen Shot 2022-07-12 at 3 54 56 PM" src="https://user-images.githubusercontent.com/9343811/178582528-975e85bb-49c3-4fdb-9e01-8a0877aaf1ee.png">

## Expected behavior

Circular lab

[2022-07-12 19:59] sserrata commented on #140
@csestito Feel free to use this issue to track your progress. Thanks!

[2022-07-12 20:48] homotechsual opened #158 "Error when generating sidebars."
## Describe the bug

Cannot generate site - sidebar file generating incorrect document IDs for category/tag pages.

## Expected behavior

`yarn build` should complete successfully.

## Current behavior

The following error is seen:

![image](https://user-images.githubusercontent.com/2288257/178591728-a1c8e037-9868-4658-815e-def22414d81b.png)
![image](https://user-images.githubusercontent.com/22882

[2022-07-13 00:09] sserrata commented on #158
It's possible you are missing a docsPluginId in your config. See this for more details: https://docusaurus-openapi.tryingpan.dev/#plugin-configuration-options

In your case I think setting it to "classic" should do the trick.

[2022-07-13 00:29] sserrata commented on #158
My mistake, it looks like you do have the right docsPluginId specified. I'll see if I can reproduce and will report back. Thanks.

[2022-07-13 13:45] sserrata commented on #158
Patch has been merged. Can you try again with [0.0.0-394](https://www.npmjs.com/package/docusaurus-plugin-openapi-docs/v/0.0.0-394) and report back if resolved?

[2022-07-14 18:17] sserrata commented on #158
@homotechsual any updates to report?

[2022-07-14 18:18] sserrata commented on #153
Will revisit in the future with goal of allowing users to select which languages they want to support.

[2022-07-14 18:18] #153 closed

[2022-07-14 18:20] homotechsual commented on #158
Sorry - I will get some eyes on this tomorrow and report back - haven't had time to look at my docusaurus project in a couple of days :-D

[2022-07-14 19:25] sserrata commented on #158
No worries - we've since upgraded to beta.22 (soon to be rc.1) but you can still use [0.0.0-394](https://www.npmjs.com/package/docusaurus-plugin-openapi-docs/v/0.0.0-394) to test the fix for your particular issue.

[2022-07-15 13:46] Damounet commented on #151
It seems that you did not bump the version of the lib. I have tried the 1.0.6 on my project but I still get the error

[code]

I have started to use docusaurus-openapi-docs this morning, when I saw that you fixed this current issue. Never tried to install it before.

Or maybe I have another problem @sserrata ?

[2022-07-15 15:31] homotechsual commented on #158
This is working perfectly now :-)

[2022-07-15 15:44] #158 closed

[2022-07-15 21:53] homotechsual opened #161 "Error on Docusaurus 2.0.0-rc.1"
## Describe the bug

## Expected behavior

Page should load.

## Current behavior

Page crashes with above message.

## Steps to reproduce

Docusaurus 2.0.0-rc.1, Open API 0.0.0-396

Have cleared and rebuilt API documentation using 396 canary.

[2022-07-16 15:30] homotechsual commented on #161
Self-inflicted. Don't abuse undocumented config options and expect things to work :-D

[2022-07-16 15:55] homotechsual commented on #161
Nope, issue still present after removing `languageTabs` config item.

[2022-07-16 21:25] sradu commented on #161
I'm getting the same error in rc1.

[2022-07-17 11:47] sradu opened #162 "Module not found: Error: Can't resolve '@theme/DocItemFooter'"
## Describe the bug

I'm using Docusaurus 2.0.0-rc.1 and getting this error:

Module not found: Error: Can't resolve '@theme/DocItemFooter' in node_modules/docusaurus-theme-openapi-docs/lib-next/theme/ApiItem'.

My plugin section looks like this:
[code]

Thanks!

[2022-07-18 14:14] sserrata commented on #161
Thanks @homotechsual and @sradu, we haven't upgraded the plugin/theme to support `rc.1` yet but will try to get to it this week. Until then, we recommend sticking with the supported Docusaurus version(s):

![image](https://user-images.githubusercontent.com/9343811/179530500-993d0d4c-dfa6-47e6-b1b7-7f5cce5a8a88.png)

[2022-07-18 14:14] sserrata commented on #161
Issue also referenced in #162

[2022-07-19 06:42] thomasheartman commented on #162
@sserrata This may well be me doing something wrong, but I'm seeing the same error with Docusaurus 2.0.0-beta.22.

Seeing that this package doesn't support rc.1 yet, I decided to try and downgrade to beta.22 (by updating package.json and regenerating the lockfile). However, the error persists. Could it be that this specific one isn't an rc.1 issue? It's also quite possible that I've messed somethi

[2022-07-19 19:04] sserrata commented on #162
Hi @thomasheartman, thanks for sharing your issue. What version of the `docusaurus-openapi-docs` plugin/theme are you seeing it in?

[2022-07-20 05:41] thomasheartman commented on #162
Hi, @sserrata! Thanks for the response 😄 Ah, okay, that makes sense about the version. Yeah, it was v1.0.6. I see you've released a v1.1.0 now, so I'll give it a go with that and see if it works out any better.

[2022-07-20 07:00] Ahmad-anility commented on #162
Hi @sserrata and @thomasheartman I just tested version 1.1.0` and the dependency issue is fixed  👍

[2022-07-20 07:08] Ahmad-anility commented on #162
But now when I clean the api docs and generate them again I get
[code]

[2022-07-20 11:54] sserrata commented on #162
Hi @Ahmad-anility, can you share your `package.json` dependencies? My first thought is that there could be a mismatch on theme dependencies. What version of Docusaurus are you testing with?

[2022-07-20 22:35] Ahmad-anility commented on #162
Apologies @sserrata, it must have been my node_module folder. After removing and installing again, it works now.
Also sharing the `package.json`:

`package.json` dependency is

[code]

[2022-07-20 22:40] sserrata opened #166 "[Bug] Servers form component no longer appearing above code samples"
## Describe the bug

Since https://github.com/PaloAltoNetworks/docusaurus-openapi-docs/pull/160 we are missing the `Servers` component used for selecting the base URL for code samples.

## Expected behavior

`Servers` component should normally appear above code samples section.

## Current behavior

It's no longer visible.

[2022-07-20 22:42] sserrata commented on #162
Support for 2.0.0-rc.1 introduced in v1.1.1

[2022-07-20 22:42] #162 closed

[2022-07-20 22:42] sserrata commented on #161
Support for 2.0.0-rc.1 introduced in v1.1.1

[2022-07-20 22:42] #161 closed

[2022-07-21 15:47] #166 closed

[2022-07-21 19:12] sradu opened #169 "[FR] Ability to customize code snippets and responses."
### Is your feature request related to a problem?

Would be great to have the code snippets similar to stoplight. I'm also not seeing the 'Response' but perhaps that's a separate bug.

### Describe the solution you'd like

I've attached some images.

<img width="490" alt="Screen Shot 2022-07-21 at 10 05 44 PM" src="https://user-images.githubusercontent.com/82214/180296099-b6fb7886-8f6b-4d71-a115-5

[2022-07-21 19:26] sradu commented on #119
+1

[2022-07-21 21:40] sserrata commented on #169
Hi @sradu, thanks for the FR! We use a forked [postman-code-generators](https://github.com/PaloAltoNetworks/postman-code-generators) under the hood and do have the ability to support other languages. That said, we're being careful about how we introduce language support in order to control the overall webpack bundle size, i.e. keep it from inflating so much it impacts performance. Unfortunately, `

[2022-07-22 10:58] sradu commented on #169
Thanks Steven! I fully agree that having 4-5 snippets would be OK. For instance Curl, Ruby, Python, PHP, Javascript, Node, Go, .NET. Stripe has a similar way of doing it, a dropdown with a cookie to remember the choice.

<img width="668" alt="Screen Shot 2022-07-22 at 1 56 40 PM" src="https://user-images.githubusercontent.com/82214/180425315-23242925-3cf6-453f-9229-55d499e32fff.png">

Perhaps inst

[2022-07-22 13:45] sserrata commented on #169
I agree that, it we're to support >4 languages, a dropdown seems like a better UI/UX choice. I should mention that we are trying, whenever possible, to stick to the Infima CSS framework that Docusaurus is based on, in order to maintain UI/UX consistency while allowing the user to customize the styles in a consistent way with the rest of the Docusaurus site. That said, we may also introduce new, cu

[2022-07-25 17:34] sserrata commented on #169
Found an interesting project that could be a better/lighter-weight alternative: https://github.com/Kong/httpsnippet

It is based on the HAR format but it should be fairly easy to integrate with.

[2022-07-25 18:39] blindaa121 opened #170 "[FR] Support for Response Headers"
### Is your feature request related to a problem?

Currently, there is no support for Response Headers. Potential solution would be to follow suit with Redoc, where the Response Headers renders above the Response Schema. See example below:

<img width="1402" alt="image" src="https://user-images.githubusercontent.com/48506502/180849910-8b3b932c-1b4a-4dd6-b9bb-bd86482800ba.png">

### Describe the so

[2022-07-25 23:37] blindaa121 commented on #170
Feature Request has been merged #171

[2022-07-25 23:37] #170 closed

[2022-07-26 09:43] sradu opened #172 "[Bug] Docusaurus server-side rendering could not render static page with path ReactContextError"
## Describe the bug

Running `npm run build` returns a lot of:

[code]

## Expected behavior

It should build a static website.

## Current behavior

[code]

## Your Environment

Docusaurus: 2.0.0-rc.1
OpenAPI-docs: 1.1.1

Using pnpm and rush.

Part of docusaurus.config:

[code]

plugins.js
[code]

Is there any way to get more debug information than just ReactContextError?

[2022-07-26 14:35] sradu commented on #172
This should be more helpful:

<img width="1589" alt="Screen Shot 2022-07-26 at 5 34 40 PM" src="https://user-images.githubusercontent.com/82214/181034710-62d9585d-c4e1-4c46-bb87-24131759e34a.png">

[2022-07-26 14:59] sradu commented on #172
Apologies, this is a spurious bug report. It's a rush issue on my end.

[2022-07-26 14:59] #172 closed

[2022-07-27 13:27] sserrata opened #175 "[FR] Support for documenting webhooks"
### Is your feature request related to a problem?

Currently, the plugin does not support documenting webhooks.

### Describe the solution you'd like

Introduce webhook support, similar to how ReDoc currently handles them:

<img width="1620" alt="Screen Shot 2022-07-27 at 9 25 18 AM" src="https://user-images.githubusercontent.com/9343811/181258168-7cbee2a3-6eb0-406d-b4e0-8978e6c9529f.png">

### De

[2022-07-28 23:39] Jaxkr opened #177 "How do I display request types and show description instead of operationId in my sidebar?"
## Documentation link

On the example (https://docusaurus-openapi.tryingpan.dev/petstore/update-pet-with-form) the sidebar items display the request type (POST, GET, etc.).

## Describe the problem

The docs at https://github.com/PaloAltoNetworks/docusaurus-openapi-docs/blob/main/README.md nor the example configuration at https://github.com/PaloAltoNetworks/docusaurus-openapi-docs/blob/main/demo/d

[2022-07-29 13:13] sserrata commented on #177
Hi @Jaxkr, the method badges are the result of some custom CSS. Feel free to copy ours or customize it to your liking:

https://github.com/PaloAltoNetworks/docusaurus-openapi-docs/blob/main/demo/src/css/custom.css#L45

As for "displaying descriptions instead of operationId," I think you're referring to these:

<img width="298" alt="Screen Shot 2022-07-29 at 9 09 27 AM" src="https://user-images.git

[2022-07-29 13:26] sserrata opened #178 "[FR] Reverse qualifier expressions to improve readability"
### Is your feature request related to a problem?

Some of the qualifiers, e.g minLength, maxLength, minItems, etc., result in mathematical expressions including operators like `>, <, >=, <=`. The issue is that the expressions, although accurate, are not displayed in a natural, intuitive manner:

In the example below, notice the possible values are expressed in "reverse" as "1 ≤ value":

<img widt

[2022-07-29 13:29] sserrata opened #179 "[FR] Add support for displaying property default values"
### Is your feature request related to a problem?

Currently we do not support displaying default values.

### Describe the solution you'd like

Add support for displaying default values when available, similar to ReDoc:

<img width="486" alt="Screen Shot 2022-07-29 at 9 27 21 AM" src="https://user-images.githubusercontent.com/9343811/181770352-7355bd64-39ab-4b97-8acf-e0a2253b5e0c.png">

(Notice t

[2022-07-29 13:30] sserrata commented on #177
Also, thanks for pointing this out. We'll be sure to add this to the documentation.

[2022-07-29 14:05] #156 closed

[2022-07-29 15:05] sserrata opened #180 "[FR] Add support for `x-logo` vendor extension"
### Is your feature request related to a problem?

No, just room for improvement.

### Describe the solution you'd like

Ability to support `x-logo` vendor extension, similar to ReDoc, which could be used to specify a logo to display for the API.

<img width="662" alt="Screen Shot 2022-07-29 at 11 03 22 AM" src="https://user-images.githubusercontent.com/9343811/181788489-8bd3217e-a03f-40b7-91bf-8c

[2022-07-29 19:35] sserrata commented on #178
Here's what the new qualifier looks like:

<img width="339" alt="Screen Shot 2022-07-29 at 3 34 39 PM" src="https://user-images.githubusercontent.com/9343811/181831654-a007cf80-a1b5-4546-bb7e-6fc7e190f256.png">

[2022-07-29 19:35] #178 closed

[2022-07-29 19:40] sserrata opened #182 "[Documentation] Document CSS necessary for rendering method labels/badges"
## Describe the problem

Currently, there is no documentation on how to make method labels/badges appear next to API items in the sidebar.

## Suggested fix

Document the steps necessary for enabling them.

[2022-07-29 19:41] sserrata commented on #177
Will use #182 to track documentation effort.

[2022-07-29 19:41] #177 closed

[2022-08-02 12:08] #180 closed

[2022-08-02 20:29] sserrata opened #188 "[FR] Ability for users to specify server/base URL"
### Is your feature request related to a problem?

There are some product APIs that generate a unique base URL per customer/tenant, which is not something we could know or predict ahead of time.

### Describe the solution you'd like

The ability for users to manually type in their API base URL (server).

### Describe alternatives you've considered

n/a

### Additional context

Generated code sampl

[2022-08-03 18:55] #179 closed

[2022-08-05 12:09] johnnyswan opened #193 "[FR] Ability to setup header for Json Request Body Example"
### Is your feature request related to a problem?

Our server works with a specific `application/vnd.api+json` header. And because of that we have no way to show our users a sample request body, because the library only handles `application/json`.

`/packages/docusaurus-plugin-openapi-docs/src/openapi/openapi.ts:172`
<img width="807" alt="image" src="https://user-images.githubusercontent.com/11737

[2022-08-05 13:10] sserrata commented on #193
Hi @johnnyswan, thanks for the feature request.

Expanding MIME support for both request and response is something we've discussed internally. My initial thought it that maybe we can find a way to detect/iterate through all available MIME types and give readers the option to choose which one to view. If we repurpose the `Tabs` component for this, it's possible we could even persist the user's choi

[2022-08-05 13:14] johnnyswan commented on #193
@sserrata How can I help you with this? Maybe you have some ideas or discussions so I can work with this and make a merge request

[2022-08-05 13:43] sserrata commented on #193
Thanks! Would it be possible to get a copy of the OpenAPI spec with the vendor MIME type (or an example)? I'm mainly interested in seeing if it's more or less compatible with our `createSchemaDetails` function.

[2022-08-05 15:42] johnnyswan commented on #193
You can find it [here](https://github.com/Trisk-io/documentation/blob/main/openapi/openapi.json)

[2022-08-05 19:42] sserrata opened #194 "[FR] Support for `readOnly` and `writeOnly`"
### Is your feature request related to a problem?

Today, we do not respect whether a property is `readOnly` or `writeOnly`.

### Describe the solution you'd like

We should factor in `readOnly` and `writeOnly` when determining which properties to include in request and response schemas.

Additionally, we should selectively display other fields like `defaultValue`, i.e. only display in the request

[2022-08-05 19:42] sserrata commented on #193
Thanks! I might have a PR for you to preview soon. Will keep you posted.

[2022-08-05 22:00] sserrata commented on #193
Hi @johnnyswan, PR #195 is currently opened. Would like to get your feedback on whether or not it addresses the issues you were having. The UI/UX is not final but the solution appears to work, no matter what MIME type is presented. Thanks!

Here's a demo:

https://user-images.githubusercontent.com/9343811/183216849-6af529db-1778-4cbd-908a-77987293d099.mov

[2022-08-06 07:42] johnnyswan commented on #193
It's a good idea to show Tabs with MIME type selection. But we also need to fix the `Body` component that used in the `ApiDemoPanel` component. In the video that you provided you can see that this component is empty.

[2022-08-08 11:19] thomasheartman opened #196 "Describe group by options"
## Documentation link

The main readme and in the generated docs, under the "Config" section: https://github.com/PaloAltoNetworks/docusaurus-openapi-docs#config

## Describe the problem

I'm trying to understand what the various group by options do. You can only choose "tag" or `null` for now, but does it make a difference? And how is it supposed to group them?

It's not clear to me what it means

[2022-08-08 14:15] sserrata commented on #196
Hi @thomasheartman, thanks for your feedback. I agree that `groupPathsBy` can be documented better.

Grouping by "tag" is intended to group operations (path + method) by the first tag value (although there is a bug that ends up grouping by all tags if more than one is present). It also requires that the tag(s) be defined at the root level of the OpenAPI spec in addition to being listed under each

[2022-08-08 17:34] thomasheartman commented on #196
Hey, @sserrata! Thanks for the response and the explanation 😄  I thought we already did list our tags at the root level, but apparently not. However, now that we do, I'm still not seeing them. Would you know why?

I don't have time to do a full deep dive now (it's late in the day here), but just thought I'd mention it in case you have other ideas. I'll probably get back to you tomorrow with a more

[2022-08-08 19:47] sserrata commented on #196
Hmm, it's possible you may need to clean and re-gen the sidebar at least.  I did a quick test and this is what I ended up with:

https://user-images.githubusercontent.com/9343811/183501675-caf02d85-8a2a-4333-8d3e-2eaf1448ceb8.mov

If you added descriptions to your root level tags and set `categoryLinkSource` to "tag" you would see that description rendered on the category index pages. Markdown is

[2022-08-09 06:33] thomasheartman commented on #196
Huh, interesting. Cleaning and regenerating doesn't seem to do the trick for me, so there's probably a configuration setting somewhere. I'm still just a single flat layer 🤔

The docusaurus.config.js file has the following plugin section for this:
[code]

and I'm using this sidebar entry:

[code]

Is there some configuration option I have missed? I'll keep digging in the meantime 👷🏼

[2022-08-09 11:53] TarasMelnyk commented on #193
@sserrata Do you have a plan for fixing an issue that Johnny described? I mean, with an empty body, in the right block of the example
<img width="1483" alt="Снимок экрана 2022-08-09 в 13 52 07" src="https://user-images.githubusercontent.com/14990870/183640758-06e4c86a-a119-4d60-b538-a57bb5818999.png">

[2022-08-09 11:54] sserrata commented on #196
Ah, it looks to be an issue with your sidebar entry. With `sidebarOptions`, the plugin will generate a file named `sidebar.js` which is a module that exports a sidebar slice object for your API docs.

You'll want to change your sidebar entry to something like this:

[code]

[2022-08-09 12:06] thomasheartman commented on #196
Ah, is that it! Thanks! 🙌🏼  I definitely wouldn't have found that myself 🙈 That may be a common way to include generated stuff in docusaurus, but I hadn't done that before, so it might be worth mentioning in the docs? You've got great examples showing the docusaurus.config.js file, but it doesn't show you how you include it in the sidebar (or even that you have to).

[2022-08-09 13:01] sserrata commented on #193
Hi @TarasMelnyk, yes, there's a fix on the way. Hopefully will be ready to merge today.

[2022-08-09 13:03] sserrata commented on #196
I agree that the sidebars can be documented better - or, at least we should add a hint to check the demo `sidebars.js` for practical examples. Thanks again for the feedback!

[2022-08-09 13:19] sserrata commented on #193
Making some progress...

https://user-images.githubusercontent.com/9343811/183656898-df5dbaf0-735b-45e9-844d-ec0fd1fb464c.mov

[2022-08-09 13:25] TarasMelnyk commented on #193
I appreciate your work on this

[2022-08-09 13:57] thomasheartman commented on #196
No worries and thanks for the work on creating and maintaining this package 🙏🏼  I've found the answers I'm looking for now, so you can close the issue if you want to. If you'd rather keep it open as a work item for later, that's fine too. I'll leave it up to you ☺️

[2022-08-09 19:02] sserrata opened #197 "[FR] Ability to sync Content-Type and Accept with request and response"
### Is your feature request related to a problem?

See #195 and #193 for background. The problem is that, with support for multiple MIME types, we now lack a way to sync the selected MIME/content-type with the corresponding `Content-Type` in the ApiDemoPanel. Additionally, we lack a way to sync the chosen `Accept` value in the ApiDemoPanel with the response type.

### Describe the solution you'd l

[2022-08-09 19:33] sserrata commented on #193
Canary release `0.0.0-418` has been published, with support for multiple content/mime types. Interested to hear your feedback on how well it works for you. Thanks!

[2022-08-10 07:14] johnnyswan commented on #193
Thanks. It works perfectly. I think it's a great solution because the user will always have information about the necessary header

[2022-08-10 08:28] TarasMelnyk commented on #193
The solution for a body works very well. But I found some regression, we update to `0.0.0-418`, and all parameters in the request and response bodies now are marked as required but in the openapi file it does not have a "required" attribute and before the update, they were not marked as required
<img width="1417" alt="0 0 0-418" src="https://user-images.githubusercontent.com/14990870/183853529-949

[2022-08-10 14:03] sserrata commented on #193
Thanks @TarasMelnyk, I was able to isolate the bug and opened #198 to address it. Going to do a bit more testing before merging but I appreciate any help. You should be able to pull the PR branch, run `yarn build-packages` and use the demo to test with your OpenAPI spec. Let me know if you have any questions. Thanks!

[2022-08-10 14:12] thomasheartman opened #199 "Generated sidebar order is not as expected"
## Describe the bug

When using this package to generate a sidebar from an openapi spec (grouping by tags), the order of the items in the sidebar does not match the order of the tags in the spec, nor are they listed alphabetically (or in some other, easily recognizable format)

**Note**: It may be that I've just missed the setting for this, but I couldn't find anything relating to 'sorting' in the

[2022-08-10 14:13] sserrata commented on #193
In my quick test it appears to be back to the way it was before the update:

<img width="1377" alt="Screen Shot 2022-08-10 at 10 12 49 AM" src="https://user-images.githubusercontent.com/9343811/183923402-75f552c3-ce7d-4975-930d-9b8bd9406c69.png">

[2022-08-10 14:24] sserrata commented on #199
Hi @thomasheartman, thanks so much for the detailed issue. I think "sorting the sidebar before finishing up" makes the most sense, and should be easy to implement. My guess is that it's a combination of async and un-ordered objects that's the root cause, but we'll make sure.

[2022-08-10 14:28] sserrata commented on #193
Here's a new canary release to test with: `0.0.0-419`

[2022-08-10 14:38] sserrata commented on #199
Never mind, it might be even easier than expected. I was able to apply sorting earlier in the process and it seems to work.

<img width="298" alt="Screen Shot 2022-08-10 at 10 38 20 AM" src="https://user-images.githubusercontent.com/9343811/183929677-2a692725-1423-40a3-b890-897694076cb1.png">

[2022-08-10 14:46] thomasheartman commented on #199
@sserrata Thanks for the quick follow-up! And glad that it seems easier than expected 😁

If you can sort alphabetically, then that solves my problem for now, but I had a thought that it might make the most sense for the order to be the same as the spec. That way, the creators have full control. But I'm not sure I'm convinced myself 😅 I'll leave how to solve it up to you; just thought I'd mention t

[2022-08-10 20:00] sserrata commented on #199
Hi @thomasheartman, after discussing internally we also determined it would be best to maintain the natural order of the tags in the OpenAPI spec. I just pushed a couple of changes to implement this and will merge after a bit more testing.

[2022-08-10 20:13] sserrata commented on #199
`0.0.0-420` is published and ready for testing

[2022-08-10 21:34] thomasheartman commented on #199
Fantastic! Thanks for the quick turnaround on this 🙌🙌 I'll see if I can't take it for a spin tomorrow 😁

And yeah, I think you landed on the right decision I regards to the ordering. We already sort ours, so it's the same for us, but this way, it is more flexible. Good work 💯

[2022-08-11 06:30] thomasheartman commented on #199
Just wanted to mention that I took 0.0.0-420 for a spin and i seems to work perfectly here 🙋🏼 Thanks again for the help with it! 🙌🏼  Do you know roughly when it'd be released as a full version?

And now that we're talking about ordering, I had a look at the order of operations under each tag and started wondering about how they're ordered. From what I can tell, this ordering depends on the order i

[2022-08-11 09:54] thomasheartman opened #201 "Output docs URL path prefix"
### Is your feature request related to a problem?

I'm looking for a way to set a custom path on the generated documents, so that it doesn't necessarily match their path in the file system.

Specifically:
- I'd like to generate files into a `.generated/openapi` directory that can easily be ignored by git etc.
- I'd like the rendered paths to be `/reference/api`, so that the paths match the rest of

[2022-08-11 12:01] sserrata commented on #199
Thanks for the feedback. The change introduced another regression bug that manifests when using `x-displayName` in your root level tag definitions. By the way, did you know that you could use `x-displayName` to influence the way API sidebar categories are ultimately formatted/displayed?

I'm finalizing the testing for the new bug and should have something out soon. That said, we should also have a

[2022-08-11 12:27] sserrata commented on #201
Hi @thomasheartman, if I'm understanding correctly I believe you want the generated API docs to have the same/similar base path as your non-API docs? Or, at least, you would like to be able to render them on a route that differs from the actual file path?

There's probably a few ways you could handle this...for example you could:

1. Use a separate `plugin-content-docs` instance for your API docs

[2022-08-11 14:46] alexandrehtrb opened #204 "How to run gen-api-docs with npm instead of yarn?"
## Documentation link

[README.md](https://github.com/PaloAltoNetworks/docusaurus-openapi-docs/blob/main/README.md)

## Describe the problem

Hello,

This is a noob question, but how do I run the `gen-api-docs` commands with npm instead of yarn? The documentation is entirely yarn-based.
For example, what would be the equivalent command with npm?
`yarn docusaurus gen-api-docs all`

## Suggested fix

[2022-08-11 15:51] sserrata commented on #204
Hi @alexandrehtrb, have you tried `npm run docusaurus gen-api-docs all`?

[2022-08-11 17:18] alexandrehtrb commented on #204
`npm run` worked, thank you!

[2022-08-11 17:18] #204 closed

[2022-08-11 17:49] alexandrehtrb opened #205 "Response examples are not appearing"
## Describe the bug

Response examples are not appearing for a request; they do appear when I preview my OpenApi in [Swagger Editor](https://editor.swagger.io/).
(I presume this feature is available, I searched and found the PR #176 ).

## Expected behavior

A response example like the one below should show up:

![image](https://user-images.githubusercontent.com/27026741/184197852-70b46f8c-4f58-48

[2022-08-11 18:20] sserrata commented on #205
Thanks for reporting @alexandrehtrb. There are a number of bug fixes coming in v1.1.5 that should address your issue. Can you test using canary release `0.0.0-422` and let me know if it works?

[2022-08-11 18:20] #199 closed

[2022-08-11 18:21] #193 closed

[2022-08-11 18:37] sserrata commented on #205
I was able to reproduce the issue you are seeing. I'll need to check with @blindaa121 to see what the issue might be.

[2022-08-11 18:38] #194 closed

[2022-08-11 18:50] sserrata commented on #205
Hmmm, I think I figured it out...it appears we were only checking for `examples` and not `example`, which is also supported.

https://user-images.githubusercontent.com/9343811/184216656-2dff0a76-1ac8-4485-ad4a-ac9ae5223178.mov

[2022-08-11 19:25] sserrata commented on #205
Please install `0.0.0-423` and let me know if it resolves your issue. Thanks!

[2022-08-11 20:06] alexandrehtrb commented on #205
I tried the new version and the result was the same as in your video.
Is it possible to have the layout like in the video of the PR #176 ? I liked that design.

I also started to have an error in another OpenApi documentation, here is the stack trace:
[code]

(I cannot share this OpenApi right now, I will see if I can remove the sensitive parts)

[2022-08-11 20:17] sserrata commented on #205
Can you share only your response example(s)?

[2022-08-11 20:34] alexandrehtrb commented on #205
I believe it was this response:

[code]

[2022-08-11 20:49] sserrata commented on #205
Thanks! I will work on reproducing. By the way...can you share specifically what about the #176 video you would like?

[2022-08-11 21:10] alexandrehtrb commented on #205
I liked it more, for being a single example:
![image](https://user-images.githubusercontent.com/27026741/184242286-b9b7fbbf-de4d-49f2-ad45-520563970061.png)

In the Shopping List example, each field in the response example YAML became a different "response example" in the documentation page:

![image](https://user-images.githubusercontent.com/27026741/184242526-6cd6e497-fc5d-475f-b596-810f4112011b

[2022-08-11 21:13] sserrata commented on #205
I think I solved it.

Uploading Screen Recording 2022-08-11 at 5.12.14 PM.mov…

[2022-08-12 05:55] thomasheartman commented on #199
Oh, interesting; I did _not_ know about x-displayName! Thanks for the heads up 😄

And nice! I see 1.1.5 is out and that the predefined ordering functionality is included. Amazing; thanks again! 🙏🏼

[2022-08-12 06:32] thomasheartman commented on #201
@sserrata Yes, that's correct!

1. Oh, I hadn't considered that. That .. could work!
2. Yeah, that's the solution that I've opted for initially, as it's easier to implement. But it does mean you end up mixing generated and non-generated files, which can be a little messy.

Thanks for the explanation! The way you put it, it makes sense that this isn't necessarily on you, but rather a docusaurus con

[2022-08-12 13:38] sserrata commented on #201
You can find an example of a standalone `plugin-content-docs` config [here](https://docusaurus.io/docs/api/plugins/@docusaurus/plugin-content-docs#ex-config)

I agree it's not ideal, but should work in theory. That's the reason we opted to use special filename suffixes, e.g. `*.api.mdx`, `*.info.mdx`, `*.tag.mdx`, so you could easily `.gitignore`, cleanup, etc.

[2022-08-15 13:42] alexandrehtrb commented on #205
I tried the latest version here and it is working nicely! Thanks!

[2022-08-15 13:42] #205 closed

[2022-08-15 16:40] sserrata commented on #201
Hi @thomasheartman, any updates to share?

We can work on documenting the "standalone `plugin-content-docs`" usage and mixing API with non-API docs.

[2022-08-15 18:17] thomasheartman commented on #201
Hey, @sserrata! Thanks for following up!

I tried to follow the link you shared, but our docusaurus.config.js doesn't quite match it, so I wasn't able to make it do what I want. I  suspect that it might just take some more fiddling.

Anyway, I've just started my vacation, so I won't look at this for another three weeks now. I'll return to it when I get back.

I wasn't aware of the special filename

[2022-08-17 09:05] akselleirv opened #214 "The endpoint path is not displayed"
## Documentation link

## Describe the problem

When I generate the `.mdx` files based on my OpenAPI spec it does not display the path to the endpoint itself.

How can I do this?

## Suggested fix

[2022-08-17 12:50] sserrata commented on #214
Hi @akselleirv, can you share your OpenAPI spec or a snippet/example of one of your paths? Thanks!

[2022-08-19 10:39] julianbirkett opened #219 "Response Example Not Visible"
## Describe the bug

Using your example Petstore OpenAPI spec I am not seeing the Example button to the right of the Schema button which I would expect. I have used another API spec with similar results.

## Expected behavior

I would expect the generated mdx file to have the details of the response example in it which would enable the Example button

## Current behavior

There is no code in the g

[2022-08-19 14:57] snehilms opened #220 "The Sidebar is not getting generated automatically"
## Describe the bug

On adding yaml's and generating the docs, the sidebars are not getting generated automatically, though the file is generated but with minimal boilerplate and not the api's with items and all.

## Expected behavior

The filled sidebar must be automatically generated on adding new yamls and updating the configuration in the docusaurus.config file

## Current behavior

The mdx fi

[2022-08-20 02:19] sserrata commented on #220
Hi @snehilms, the sidebar categories are only created if the tags are defined at the root level of the spec. I recommend defining all tags at the root with the tag.name matching the tags under each operation. Then you may also add x-displayName to each tag to customize the category label. Let me know if this works.

[2022-08-20 02:22] sserrata commented on #219
Hi @julianbirkett, examples should only render if there is an example or examples key present under the operation. Otherwise only the schema should render.

[2022-08-20 02:24] sserrata commented on #214
@akselleirv any updates to share?

[2022-08-20 02:30] snehilms commented on #220
I have the tags defined at the yaml specification file.

[2022-08-20 16:43] snehilms commented on #220
Yeah it works
And one more thing what is the use of the x-tagGroups

[2022-08-20 16:44] #220 closed

[2022-08-20 19:40] snehilms opened #221 "Need for help with PR #176"
From this PR #176
For adding the Response Example, I am not able to find the documentation regarding it and what should be updated in the open apni specification for adding the response example.

[2022-08-20 19:45] #221 closed

[2022-08-21 13:02] sserrata commented on #220
Nice! The x-tagGroups is a ReDoc vendor extension for defining what the sidebar hierarchy should be. We don't support it (yet) but are considering it as another way to generate the sidebar.

[2022-08-21 13:07] sserrata commented on #221
Hi @snehilms have you read through these docs?

https://swagger.io/docs/specification/adding-examples/

[2022-08-21 14:26] snehilms opened #222 "Try it Feature for getting the Responses"
We can have a Try it Button with the response being loaded by hitting the actual api
It can be like the ones implemented by many documentations like:
![image](https://user-images.githubusercontent.com/42109401/185795776-82da3ea0-454a-4a32-b501-cd199ebd38e2.png)

[2022-08-22 10:53] julianbirkett commented on #219
I think you're saying we have to have a whole example section in the spec and that you render from that? Most specs I've seen have the example against each property e.g. In petstore.yaml Pet schema, the 'name' property looks like this

        name:
          description: The name given to a pet
          type: string
          example: Guru

Therefore, the example data of Guru is defined with the

[2022-08-22 13:51] TechnotronicOz opened #223 "All optional query params are incorrectly marked with required labels"
## Describe the bug

When generating the docs from an OpenAPI 3.0 Yaml, **all** endpoint's query parameters are marked with the `required` even when the schema does not require all parameters.

## Expected behavior

* Only query parameters in the generated documentation that are marked as required in the schema should have the `required` label applied.

## Current behavior

* In the generated docu

[2022-08-22 14:26] #223 closed

[2022-08-22 15:18] sserrata commented on #219
Hi @julianbirkett, we do use the property-level `example` you're referencing when constructing an example _request_ body. For _response_ examples, we require an `example` or `examples` to be defined under the response `schema`.

Request body examples (I included ReDoc for comparison):

OpenAPI Docs Plugin: https://docusaurus-openapi.tryingpan.dev/petstore/add-pet
ReDoc: https://redocly.github.io/r

[2022-08-22 15:36] sserrata commented on #222
Hi @snehilms, we are a cybersecurity company and decided to remove the "Try it" functionality for security reasons.

The short explanation is that we believe it is too risky to allow users to share their API keys/tokens via the browser, at least not without having properly implemented an appropriate security scheme, e.g. OpenID + OAuth 2.0 (short lived tokens).

We recognize the convenience of sen

[2022-08-22 15:45] julianbirkett commented on #219
OK I understand where you're coming from and thanks for your help in explaining it.

Just to let you know what you've described isn't my experience with other OpenAPI parsers as they use the examples at the property level to build their response examples. You just need to look at how these are constructed in the swagger.io UI and extensions for VS Code. I have attached the petstore example of GET

[2022-08-22 17:41] sserrata commented on #219
Hi @julianbirkett, thanks for the feedback.

As mentioned before, we already use a similar approach to build the request body. In theory, we should be able to apply this method to generate a response "Example" but it wouldn't be strictly based on the property-level `example`. For instance, in cases where a property doesn't have an `example` we could infer and display the type or generate an exampl

[2022-08-22 17:48] julianbirkett commented on #219
Yes doing the same thing you do for the request example would work well and be in line with Swagger UI. It would also give people the option to choose. Do you think this is something that could be changed please?

Regards, Julian

[2022-08-22 20:12] sserrata commented on #219
Still running tests but I think it should work.

https://user-images.githubusercontent.com/9343811/186010249-025ee77f-eb11-4fb7-9e80-d5d5b446631c.mov

[2022-08-22 20:14] julianbirkett commented on #219
That’s excellent. Thank you very much

[2022-08-24 18:55] adamsoffer commented on #158
@sserrata Heads up I'm encountering the same issue. I'm on v1.1.8.

<img width="567" alt="image" src="https://user-images.githubusercontent.com/555740/186500263-41c9d018-99c1-4396-b924-6551c7180693.png">

## Steps to reproduce
Using this API definition: https://github.com/livepeer/livepeer-studio-docs/blob/openapi/spec.yaml
Config: https://github.com/livepeer/livepeer-studio-docs/blob/openapi/docu

[2022-08-24 22:08] adamsoffer opened #225 "Render model definitions"
Is it possible to render model definitions from an openapi spec using this plugin? I noticed this is something [redocusaurus plugin supports](https://redocusaurus.vercel.app/examples/using-single-yaml/#tag/store_model).

<img width="246" alt="image" src="https://user-images.githubusercontent.com/555740/186532309-391e7dba-9ad8-4363-8c62-4e9b8c62aa4b.png">

[2022-08-25 20:26] sserrata commented on #225
Hi @adamsoffer, thanks for the suggestion. I am familiar with how ReDoc and Swagger UI render models. That said, I don't have any personal experience actually using them. Can you describe how you use model definitions or how they would improve the experience for someone else?

[2022-08-25 20:26] #222 closed

[2022-08-25 20:28] sserrata commented on #219
Hi @julianbirkett, just published canary release `0.0.0-433`. Can you please install and check to see if it addresses your issue? Thanks!

[2022-08-25 20:28] #214 closed

[2022-08-26 09:16] julianbirkett commented on #219
Yes @sserrata that looks to be working as expected now. Thanks Steven.

[2022-08-26 10:41] julianbirkett opened #227 "Response schema not built fully"
## Describe the bug

I have a response schema that includes an allOf with an array and another referenced schema. For some reason the array part is not displaying in the Schema section of my API page. The schema definition looks like this.

      allOf:
        - properties:
            customers:
              description: Customer search success results
              uniqueItems: false

[2022-08-26 16:28] sserrata commented on #227
Hi @julianbirkett, I believe I found the root cause.

Traced it back to this option in the `json-schema-merge-allof` library:

https://github.com/mokkabonna/json-schema-merge-allof#:~:text=ignoreAdditionalProperties%20default%20false

https://user-images.githubusercontent.com/9343811/186950422-5db8e940-84c7-47d0-8eab-2d06c537beb6.mov

Still testing but I'll merge once the fix is verified.

[2022-08-26 19:01] sserrata commented on #227
Hi, canary release `0.0.0-434` is available to test now. Thanks!

[2022-08-26 23:43] Hoss3770 opened #229 "config example in readme file"
in the readme file example for config file
[code]
the second `[` is missing

[2022-08-28 18:54] sradu opened #230 "[FR] Show tag description in DocCategoryGeneratedIndexPageContent"
### Is your feature request related to a problem?

Tags can have descriptions. If a description would be provided to DocCategoryGeneratedIndexPageContent it would be shown.

[code]

### Describe the solution you'd like

For the DocCategoryGeneratedIndexPageContent to show the description provided in the spec.

[2022-08-29 14:27] sserrata commented on #230
Hi @sradu, have you tried setting the `categoryLinkSource` to "tag"?

https://docusaurus-openapi.tryingpan.dev/#sidebaroptions

[2022-08-29 14:28] #219 closed

[2022-08-29 14:37] sradu commented on #230
@sserrata well that's embarrassing for me haha. That did the trick. Thank you sir!

[2022-08-29 14:37] #230 closed

[2022-08-29 15:59] philip-ellis-sp opened #231 "Is there a way to support multiple instances of the plugin?"
I would like to separate out my documentation into two separate folders in docusaurus. For example:
[code]

but I cannot find a way to tell the plugin cli to use the second instance of the plugin, or to define two docsPluginId variables in the same plugin instance. This is what I tried setting up:

[code]

This all works for docusaurus, but when running `npm run docusaurus gen-api-docs all` it onl

[2022-08-29 19:34] philip-ellis-sp commented on #231
I found that docusaurus does not run the cli action for multiple instances of plugin, but by adding the .parse() command to the end of the command it then runs an action for each instance. For example:
[code]
allows for the definition of multiple instances and the creating of the api specs for all of them.

[2022-08-29 22:49] daltonconley opened #232 "Nested tagging"
### Is your feature request related to a problem?

I'm looking to auto-generate sub categories for my APIs when using the `groupPathsBy` feature.

### Describe the solution you'd like

I would like to be able to some how build out sub categories based on tags. I don't think anything like this is really supported in the openapi spec, but the spec does allow for multiple tags. Perhaps the plugin cou

[2022-08-30 07:22] julianbirkett commented on #227
I've tested the canary release and that is giving the output I'd expect. Thanks very much.

[2022-08-30 19:06] #227 closed

[2022-08-30 19:11] sserrata commented on #231
Thanks for the research into this @philip-ellis-sp! TBH multi-plugin instances hasn't been thoroughly tested/explored yet, but I agree that it should be supported.

@csestito Have we looked into `parse()` before?

[2022-08-30 19:19] sserrata commented on #232
Hi @daltonconley, thanks for the feature request!

Nested tags or tag groups is something we've explored as a way to help with generating sidebars. That said, we ran into some technical concerns/limitations we'd have to overcome when dealing with multi-spec (i.e. reading in and processing multiple OpenAPI specs from a directory). The basic problem to solve for is coming up with a way/convention to

[2022-08-31 14:05] sserrata opened #234 "[Enhancement] Ability to select summary or operationId as category label"
### Is your feature request related to a problem?

Today the category label is selected conditionally, based on the existence of the endpoint `summary` and `operationId`, respectively.

### Describe the solution you'd like

Add a plugin option to allow users to specify whether to use the `summary` or `operationId` as the sidebar category label.

### Describe alternatives you've considered

n/a

##

[2022-09-05 15:29] calthejuggler opened #237 "Crashing docs due to useTabGroupChoice"
## Describe the bug

Any docs that would have code snippet tabs on them are crashing.

## Expected behavior

The page should load with the documentation and code snippets.

## Current behavior

For any page that would have code snippets, I receive an error saying:
[code]
and the console gives a `ReactContextError` and says it happened in the `<ApiTabsComponent>` and the `<TabsComponent>`.

## Step

[2022-09-06 10:57] sserrata commented on #237
Hi @calthejuggler, the plugin currently requires Docusaurus v2.0.1. The error you are seeing suggests you might be on an earlier version?

[2022-09-06 11:19] calthejuggler commented on #237
Hey @sserrata, thanks for your response! Downgrading to Docusaurus v2.0.1 fixed it, but previously I was on v2.1.0.

[2022-09-06 11:43] sserrata commented on #237
Ah ok, that would have been my next guess. We should be upgrading to v2.1.0 early this week barring any breaking changes.

[2022-09-06 12:03] calthejuggler commented on #237
Great, thanks! Looking forward to it

[2022-09-06 12:52] #237 closed

[2022-09-06 12:54] sserrata commented on #229
See #238

[2022-09-07 15:48] sradu opened #245 "[Bug] 'objects' are not marked as required in the request schemas"
## Describe the bug

These objects, invoice and issue_date, are marked as required in our OpenAPI spec. However that flag is not being added visually.

<img width="346" alt="Screen Shot 2022-09-07 at 8 45 18 AM" src="https://user-images.githubusercontent.com/82214/188921813-5d66fdde-4cab-4a8a-8035-df83d8d98961.png">

## Expected behavior

It should mark them as required.

## Current behavior

It d

[2022-09-07 18:29] sserrata commented on #245
Hi @sradu, can you share a snippet of the object/property definition or schema?

[2022-09-07 20:52] sradu commented on #245
Would this work?

[code]

[2022-09-07 22:43] sradu opened #246 "Swizzling components doesn't work"
## Describe the problem

I can't figure out why this doesn't work and wondering if other people are running into this. I'm looking to swizzle CodeTabs so I can remove the icons and have it be text only.

After running:

[code]

And choosing either Eject or Wrap I get the proper files in the theme/ folder but modifying them doesn't yield any changes. I tried running `gen-api-docs all` and everythin

[2022-09-08 00:22] sserrata commented on #245
Thanks! The example was perfect. I think I can have a fix ready early tomorrow.

[2022-09-08 00:43] sserrata commented on #245
Can you try canary release `0.0.0-444` to see if it addresses your issue? Thanks!

[2022-09-08 01:40] #245 closed

[2022-09-08 11:19] thomasheartman opened #249 "Be able to style operation "pills" in output docs"
### Is your feature request related to a problem?

The generated pages include operation buttons/pills next to the path. These seem to be rendered as normal docusaurus badges:

![image](https://user-images.githubusercontent.com/17786332/189108073-956ad3d7-e2bd-4ce7-87ee-277888b020ea.png)

There's two issues:

1. The color scheme doesn't necessarily have high enough contrast. That's arguably on us

[2022-09-08 15:04] sradu commented on #249
+1 was just looking into this yesterday and couldn't style the ApiDemoPanel at all. I would also like to tweak the object schemas.

In general would be great to have classes for everything that we could target via css.

[2022-09-08 15:57] sserrata commented on #246
Hi @sradu, I am still investigating but it should be possible to replace the icons with text using CSS. Still, I think there should be a cleaner way to handle this.

[2022-09-08 16:00] sserrata commented on #249
We've had internal discussions on this and agree that everything under ApiItem and ApiDemoPanel should have an appropriate class selector.

Also, we are open to suggestions on how to improve consistency and contrast for the method badges/pills.

[2022-09-08 17:41] #231 closed

[2022-09-08 18:39] sserrata commented on #249
Hi @thomasheartman, here's a few things to note/consider:

The method badge style/color is derived from the Infima `badge` class and the supported modifiers, e.g. `badge--success`, `badge--danger`, etc. That said, those colors are in turn based on the built in Imfima color variables, including `--ifm-color-success`, `--ifm-color-primary`, etc.

Since the sidebar method badge colors are defined ent

[2022-09-08 19:09] sserrata commented on #246
Here's an example of how to override using CSS:

[code]

[2022-09-08 19:10] sradu commented on #246
Thank's @sserrata, really appreciate you making this for me! Will give it a try, but would still be nice to be able to swizzle.

[2022-09-08 19:32] #229 closed

[2022-09-09 07:31] thomasheartman commented on #249
@sserrata Thanks for the response and glad to hear you've decided to add more class selectors 😄

Yeah, I figured you did something like that for the colors. For our sake, the "primary" color wasn't really suitable as the "get" method, so we changed the color scheme a bit to keep it more in line with what Swagger UI does.

Absolutely! It's based on your [code that you provided as an example](https:

[2022-09-09 13:41] sserrata commented on #249
Thanks @thomasheartman, I think these styles definitely add more contrast and consistency. Right now we're focused on other priorities but we will definitely revisit refining our class selectors after we get through a few critical projects.

[2022-09-09 14:53] homotechsual commented on #249
@thomasheartman would you be prepared to share the full CSS for that - looks very nice.

[2022-09-09 15:06] thomasheartman commented on #249
Thanks! 😁 The only css we have that affects those badges is what I shared (check the inside of the details block). I don’t think there is anything else working on those bits, but that full custom.css file can be found here: https://github.com/Unleash/unleash/blob/docs/add-openapi-docs/website/src/css/custom.css.
That link is at least up to date for the weekend (couldn’t find a way to create a perm

[2022-09-09 20:16] stephen-spiny commented on #99
I believe this would be a great feature to add and the solution @sserrata suggested seems ideal.

We have an app that users login to on the same top level domain as our docs. Simply having the capability to "execute" would suffice as we read tokens from a cookie on the top level domain for authentication. Additionally adding a raw auth input with no persistence(similar to the [old plugin](https://

[2022-09-11 11:57] koladev32 commented on #175
Hi!

Interesting enhancement. Have you started working on it?
I would love to contribute.

[2022-09-12 02:40] yongwee commented on #99
Actually yea I concur, the callback way (for storing/retrieving credentials and also transport) seems like the long-term way to do things, and a simple "fix" of ridding the persistence is sufficient short-term (and is probably good enough for most cases).

For now I have actually swizzled the component to add the execute button back in lol, but would really be awesome if swizzling isn't required!

[2022-09-12 13:48] skyfrk opened #257 "Not all tags are extracted from the OpenAPI document"
## Describe the bug

I am using [Swashbuckle](https://github.com/domaindrivendev/Swashbuckle.AspNetCore) to generate an OpenAPI document for my API. If I use the generated spec with this plugin the `sidebar.js` contains only one entry, because the `tags` property is not defined in my document.

According to the v3.0.3 OpenAPI spec not all tags must be defined in the `tags` property:

## Expected b

[2022-09-12 14:42] sserrata commented on #257
Hi @skyfrk, thanks for reporting this issue. Currently, the plugin requires tags to be defined under the root `tags` object. It does this for two reasons:

* To allow for using the root tag description as the `categoryLinkSource` (which is optional).
* To reconcile and ensure consistency between the operation tag(s) and the tags defined under `tags` (kind of a weak use case since if an operations

[2022-09-12 16:21] skyfrk commented on #257
I agree that there is no strong use case. For my personal use I just derived the list of tags from all operations as a workaround.

[2022-09-12 18:43] colin-mckibben-sp commented on #225
Hi @sserrata.  I'm also interested in support for model definitions.  At SailPoint, we use model definitions in our Event Triggers API collection to expose the [input/output schemas](https://developer.sailpoint.com/apis/beta/#tag/Event-Trigger-Models) for each trigger.  Model definitions help us document the input/output schemas of each trigger directly in the open API spec in a way that they can

[2022-09-12 18:54] sserrata commented on #225
Thanks @colin-mckibben-sp, I appreciate the additional context and link to examples. I downloaded the SailPoint API spec for reference. I think it's something we can support but I am not certain that every user will necessarily want to generate models in all cases.

That said, we might explore introducing a CLI option like `--include-models` or `-m` that determines whether or not to generate them.

[2022-09-13 21:13] sserrata opened #260 "[Enhancement] Support frontmatter description for API docs"
### Is your feature request related to a problem?

Currently the description for API docs falls back to the first line of text in an API doc. The first line of text is typically either the operation `summary` or `operationId` which doesn't add any value or additional insight that the sidebar category doesn't already provide.

### Describe the solution you'd like

Ability to set the operation `desc

[2022-09-14 01:09] #260 closed

[2022-09-16 10:06] r-colvin opened #265 "API Paths are not grouped by tag"
## Describe the bug

all API paths are listed in a single level in the sidebar, instead of being hierarchically grouped by tag

## Expected behavior

it is expected that the sidebar lists paths under their respective tag groups, rather than at the root level. For example, given

[code]

with sidebarOptions

[code]

my expectation is the sidebar would be hierarchical like:

[code]

where *tag1* and

[2022-09-16 10:26] r-colvin opened #266 "Generated info filename is odd when the API Title is mixed case"
## Describe the bug

An API definition where the title contains mixed case, causes the *.info.mdx to have an unexpected/odd filename

## Expected behavior

an API definition with the following header

[code]

should generate a *.info.mdx file called `a-buggy-api-description.info.mdx`

## Current behaviour

the *.info.mdx file instead is call `a-buggy-ap-i-description.info.mdx`

## Possible solutio

[2022-09-16 10:37] r-colvin opened #267 "Unnamed api.mdx file created and not able to be cleaned (invalid API definition)"
## Describe the bug

An invalid API definition can cause a file to be created called `.api.mdx` which is then not removed by `clean-api-docs`

## Expected behavior

As the definition is invalid, the build should not succeed and an appropriate error message given.

## Current behavior

the *.api.mdx files take their name from 1) operationId, 2) description 3) summary - with operationId appearing to

[2022-09-16 14:27] r-colvin commented on #265
issue was eventually traced to having TS-Check enabled in the sidebar.js which prevented the OpenAPI sidebar from being included.

Closing due to no issue

[2022-09-16 14:27] #265 closed

[2022-09-16 14:27] #123 closed

[2022-09-20 11:49] r-colvin opened #270 "Automatically inject API Update date from Git History into Front Matter"
### Is your feature request related to a problem?
- no

I store and version control my API specs using Git and consider the MDX output of the gen-api-docs call as build artifacts - as such i have set my .gitignore file to igore the generated MDX files.

the consequence of this is that it is not possible to infer the updated date for these MDX files. At build time we see

`[WARNING] Cannot infer th

[2022-09-20 12:46] sserrata commented on #270
Hi @r-colvin, have you tried using [last_update](https://docusaurus.io/docs/api/plugins/@docusaurus/plugin-content-docs#last_update)? If it works for you, one possible approach could be to add a placeholder like the following to a Docusaurus OpenAPI docs [template](https://docusaurus-openapi.tryingpan.dev/#config) and then find and replace the value during build time:

[code]

Command to replace d

[2022-09-20 13:54] skyfrk opened #271 "Use operation summary in page title"
### Is your feature request related to a problem?

Currently the `id` of a page is used in the title of an API documentation page. The operation summary - which is already used in the generated `sidebar.js` as label - would be a better fit in my opinion (see screenshot below)

### Additional context

![image](https://user-images.githubusercontent.com/27026029/191275806-3024746c-c874-4679-8d22-3448

[2022-09-20 14:54] skyfrk opened #272 "Scrollbars are not hidden in Firefox on Windows"
## Describe the bug

In Firefox some scrollbars are rendered that probably should not be rendered (see screenshots below).

## Screenshots

### Firefox

![image](https://user-images.githubusercontent.com/27026029/191290338-982c5d80-2735-489f-9223-9df42a87784d.png)
![image](https://user-images.githubusercontent.com/27026029/191290444-f6dd1f94-6749-485b-9172-041249da60cb.png)
![image](https://user-i

[2022-09-20 21:12] sserrata commented on #272
I am not able to reproduce on same version of Firefox. Any chance your scroll bars are set to always be visible?

https://support.mozilla.org/en-US/questions/979836#:~:text=You%20can%20make%20the%20scroll,Scroll%20Bar%20%3E%20Choose%20%22Always%22

[2022-09-21 10:43] skyfrk commented on #272
I did not find any setting on my system (Windows, not MacOS like in the link you posted) that forces scrollbars to always appear.
Upgrading to the latest Firefox version (105.0) also did not change anything.

@FelixBurkhardAIT I think you were also able to reproduce this issue, correct? Maybe you can share your setup.

[2022-09-21 12:27] sserrata commented on #272
Hi @skyfrk, I tested on a Mac so it would it appear to be OS-specific. Have you ruled out any possible accessibility setting in Windows?

(I'll try to spin up a Windows VM today to try to reproduce)

[2022-09-21 12:53] #271 closed

[2022-09-21 13:20] sserrata commented on #266
Hi @r-colvin, this is expected behavior. The `kebabCase` method attempts to split the string by words and using mixed case formats in the same string can throw it off.

Changing the string to "A Buggy API Description" or even "ABuggyApiDescription" would yield the desired output.

[2022-09-21 13:20] #266 closed

[2022-09-21 13:32] #267 closed

[2022-09-21 13:36] sserrata commented on #188
Postponing this feature now that "Send API Request" was re-introduced. Only server URLs explicitly defined in the spec should be allowed to send API requests from browser.

[2022-09-21 13:36] #188 closed

[2022-09-21 13:36] #182 closed

[2022-09-21 13:36] #169 closed

[2022-09-21 13:37] sserrata commented on #196
#257

[2022-09-21 13:41] sserrata opened #275 "[Enhancement] Introduce BEM-style classnames to theme components"
### Is your feature request related to a problem?

There's limited CSS selectors available to override styles in `ApiItem` and `ApiDemoPanel`.

### Describe the solution you'd like

BEM-style classes should exist on all appropriate theme components to better support overriding styles.

### Describe alternatives you've considered

n/a

### Additional context

See #249 for additional context.

[2022-09-21 13:42] #249 closed

[2022-09-21 14:17] #257 closed

[2022-09-21 14:18] sserrata commented on #201
Hi @thomasheartman, any updates to share?

[2022-09-21 14:33] FelixBurkhardAIT commented on #272
The problem I experience is a bit differet than described. Firefox shows scrollbars for scrollable elements that occlude parts of the content:
While hovering the cursor over it:
![image](https://user-images.githubusercontent.com/59647538/191531910-957453df-896a-407b-aca5-f26ab9289497.png)
When removing the cursor the scrollbar slowly fades away from this:
![image](https://user-images.githubusercon

[2022-09-22 12:24] r-colvin opened #279 "OpenAPI Specification Extension Support"
### Is your feature request related to a problem?
- No

As discussed on Discord: https://discord.com/channels/398180168688074762/867060369087922187/1022259147636473886

OpenAPI supports specification extensions (those that start with x-) - PA OpenAPI has some support currently, however it would be benefical to render those that the plugin doesn't know what to do with as documentation

### Describe

[2022-09-22 12:26] r-colvin opened #280 "[Enhancement] Support for requestBody examples"
### Is your feature request related to a problem?
- No

As discussed on Discord (https://discord.com/channels/398180168688074762/867060369087922187/1022457676577378386)

if you provide multiple examples in the api spec, the plugin will only render the first to the "body" and "code sample" boxes

### Describe the solution you'd like

as in other parts of the page, provide tabs for the various examp

[2022-09-22 12:45] r-colvin commented on #270
@sserrata  thanks, yes i am using last_update and as I have a few custom build steps I can include this there as well

if you see this as the preferred solution we can close this enhancement request; or we can keep the request if you feel it is something worth including in the main release

[2022-09-23 08:45] thomasheartman commented on #201
Yes! We finally got around to actually deploying this (though there's still work to be done). For now we just ignore *.api.mdx and generate it into a folder with the rest of the docs. Simple, but it works. Thanks for the input! Feel free to close this issue ☺️

[2022-09-27 02:56] jordan-violet-sp opened #282 "[Bug] Duplicate routes when tag matches endpoint"
## Describe the bug

We have a tag (search) that matches an endpoint in our OpenAPI spec (also search).

## Expected behavior

The slug for the sidebar category should be different than the slug for the endpoint.

## Current behavior

We end up with the category doc being unreachable because the slug for the endpoint was created last. See attached image.

## Possible solution

A possible solution

[2022-09-27 14:48] r-colvin opened #283 "Allow for a `description` to be attached to an API Response Example"
### Is your feature request related to a problem?
- No

It would be hugely beneficial to be able to provide users with a description of what a response means, especially in the case of an error. It should be one description per example

### Describe the solution you'd like

a spec such as
[code]

with a result such as

![image](https://user-images.githubusercontent.com/18327771/192559372-d7fb37c3-

[2022-09-27 20:00] sserrata commented on #283
I believe that OpenAPI already provides a `summary` property for this purpose: https://swagger.io/docs/specification/adding-examples/

[2022-09-27 20:04] r-colvin commented on #283
@sserrata in my testing it works great for requests, but not responses. The description is ignored. I may have messed up the syntax - I can put a test together and check again

I’ve read the attached link several times - unless I have missed something, it mostly covers examples in requests?

[2022-09-27 20:04] r-colvin commented on #283
@

[2022-09-27 20:05] r-colvin commented on #283
Fat fingers! Only meant to comment not close

[2022-09-27 20:07] sserrata commented on #283
Sorry, what I meant to say is that we likely want to check to see if the example includes a `summary` property and render that above the example if it exists.

[2022-09-27 20:25] sserrata commented on #283
For example, something like this:

[code]

Should result in this:

https://user-images.githubusercontent.com/9343811/192628054-73f1fed1-579f-4fe3-bfe7-f2b2ce385869.mov

[2022-09-27 20:26] sserrata commented on #283
If that works, I can open a PR to introduce this functionality.

[2022-09-27 20:48] r-colvin commented on #283
@sserrata

looks good

is the schema line optional? can i have this for example:
![image](https://user-images.githubusercontent.com/18327771/192631223-fac05c2e-46b9-43e5-a1d1-70597fd35c3d.png)

to produce something like this

![image](https://user-images.githubusercontent.com/18327771/192632331-a5d50cd1-103c-45ff-9ab4-6c6577b41928.png)

[2022-09-27 20:50] sserrata commented on #280
To paraphrase, this is a request for `requestBody` examples, similar to how `responseBody` examples work today. The idea is that the user would be presented with tabs from which they could choose from available `requestBody` examples to display. Additionally, when an example is selected the generated code sample should be updated accordingly.

[2022-09-27 20:53] sserrata commented on #283
What you're describing is technically possible but I believe it might violate best practices. Essentially, you'd be defining a response with no true schema. Examples, IMO, are not a substitute for a schema.

[2022-09-27 20:57] r-colvin commented on #283
@sserrata  yeah, thats OK; I think i can live with that :)

[2022-10-03 14:09] sserrata commented on #283
Support for this feature included in v1.2.2

[2022-10-03 14:09] #283 closed

[2022-10-04 20:16] sserrata commented on #282
Hi @jordan-violet-sp, thanks for reporting this issue. It appears to be an edge case where the IDs for "tag docs" and "API docs" can end up being the same, resulting in conflicting routes.

I think the most expedient way to address this in the plugin would be to add some unique suffix/prefix to the "tag doc" ID. That said, there are other ways to avoid/overcome it:

* Change the tag name or define

[2022-10-04 20:18] sserrata commented on #272
Any updates to share? I am hoping to have time to reproduce this week.

[2022-10-04 20:21] sserrata commented on #279
Hi @r-colvin, thanks for the recommendation. I think, minimally, we should document the extensions supported by the plugin. Outside of that, I would like to better understand why we should support discovering and rendering extensions like the one in your example. Do you have any concrete/practical examples that you can share? I understand the relationship between `x-dummy-data` and what is rendere

[2022-10-04 20:22] #270 closed

[2022-10-06 17:15] skyfrk commented on #272
@FelixBurkhardAIT could and I just could do so as well on my other Windows 10 desktop PC.  I also suspect that this is Windows specific.

[2022-10-07 13:51] D063520 opened #289 "Open API with code snippets"
Hi,

## Documentation link

https://github.com/PaloAltoNetworks/docusaurus-openapi-docs

## Describe the problem

we would like to achieve a functionality that is similar to the one that you present here:

https://docusaurus-openapi.tryingpan.dev/petstore/add-pet

We are starting by the following Open API documentation:

https://qanswer-core1.univ-st-etienne.fr/v2/api-docs

The problem is that we

[2022-10-07 18:02] sserrata commented on #289
Hi @D063520, if you're not seeing the "right part" including the Request and code snippets, please make sure you have `docItemComponent: "@theme/ApiItem"` configured in your preset or `plugin-content-docs` config.

[2022-10-08 18:55] D063520 commented on #289
Hi,

I I was able to see everything rendered. But when I do:

import PartialExample from '../api/docs/change-password-using-post.api.mdx';
<PartialExample/>

then I not see the right part.

Can you explain me how this is working?

Thank you
D063520

[2022-10-10 10:04] sserrata commented on #289
Hi @D063520, which standalone UI component(s) are you interested in using? The generated docs currently do/can not export any components but there might be another way to achieve what you're after.

[2022-10-10 10:16] D063520 commented on #289
Hi,

I would be most interested in:

<img width="454" alt="Screenshot 2022-10-10 at 12 14 05" src="https://user-images.githubusercontent.com/10883585/194843965-78d4be6a-a319-4c6e-a18d-49dc6f7991fd.png">

and

<img width="464" alt="Screenshot 2022-10-10 at 12 14 14" src="https://user-images.githubusercontent.com/10883585/194843978-d7faa4e2-aa89-445d-b405-f77b7f361f3f.png">

But in general I think t

[2022-10-11 11:27] changsheng1239 opened #291 "Common param is rendered incorrectly"
## Describe the bug

If a common param is used, the generated docs did not render the param at all.

## Expected behavior

![image](https://user-images.githubusercontent.com/29444534/195077419-44dbb7d6-bb5e-4028-b00f-584af49fba7b.png)

## Current behavior

![image](https://user-images.githubusercontent.com/29444534/195077215-c3fa2339-6f89-4ffb-ac20-3495cc33bc34.png)

## Steps to reproduce

[code]

[2022-10-11 12:24] sserrata commented on #291
Hi @changsheng1239, I tested using your sample operation and it appears to be working as expected:

https://user-images.githubusercontent.com/9343811/195088455-fed14470-c06a-4bcf-9500-4fa69a7b929a.mov

Maybe I am misunderstanding something?

[2022-10-11 12:29] sserrata commented on #291
Hi @changsheng1239, thanks for reporting this issue. I was able to find the source documentation describing the expected behavior: https://swagger.io/docs/specification/describing-parameters/#:~:text=header%20instead.-,Common%20Parameters,-Common%20Parameters%20for

We'll consider this a feature request. Thanks!

[2022-10-11 12:33] sserrata commented on #289
Hi @D063520, I think this is something our plugin/theme could support but it requires some refactoring of the theme components. Currently, they are designed for internal usage, meaning their public usage has yet to be fully explored, e.g. importing standalone components, swizzling, etc.

[2022-10-11 12:34] sserrata commented on #246
#289

[2022-10-12 02:59] changsheng1239 commented on #291
@sserrata just tested the canary release `0.0.0-475` and it is indeed working now! Thanks 👍

[2022-10-12 02:59] #291 closed

[2022-10-12 15:47] sserrata commented on #289
Hi @D063520, I think making the OpenAPI docs theme components available _outside of Docusaurus_ is beyond the scope of this project at this time.

One of our main goals is to produce a solution that pairs/integrates well with Docusaurus, specifically because we've had difficulties integrating other OpenAPI doc solutions like Swagger UI, RapiDoc, ReDoc, etc.

Another thing to note is that the curre

[2022-10-12 17:23] sserrata commented on #280
Hi @r-colvin, finally merged a change that introduces requestBody example(s) support. I appreciate if you can help test.

[2022-10-12 17:25] sserrata commented on #282
Will re-open if needed.

[2022-10-12 17:25] #282 closed

[2022-10-12 17:27] #201 closed

[2022-10-12 17:28] #196 closed

[2022-10-12 17:40] csestito commented on #140
After diving into this, it was decided that this isn't a necessary feature and encourages bad practices in authoring.

Rather than using a spec file for each micro service, we should have one spec file and use appropriate tagging.

[2022-10-12 18:05] #140 closed

[2022-10-12 18:05] #280 closed

[2022-10-12 19:15] sserrata commented on #272
@skyfrk I was finally able to reproduce something similar on Windows 11 but it's not identical to the issue you reported:

https://user-images.githubusercontent.com/9343811/195428553-c48796c9-e7b8-4e1e-80ef-3185273aad7c.mov

Basically, what I am seeing is that the scrollbar completely covers the content while scrolling. Produced this behavior on Firefox on Windows 11 and Mac.

[2022-10-13 14:52] OzzyCzech opened #295 "Invalid link to apiKey Authentication"
## Describe the bug

The link to ApiKey leads to an address that does not exist - from right sidebar there is **Authorization** panel that use `info_path` for generate link to ApiKey documentation from [Introduction](https://help.testomato.com/api/testomato-api)

 - `https://help.testomato.com/docs/api/testomato-api#authentication` - there is additionally root directory `docs`
 - `https://help.tes

[2022-10-14 15:13] OzzyCzech opened #296 "Use `example` value instead of `default`"
### Is your feature request related to a problem?

There should be switch or something in config that allow us use `example` value instead of `default` or primitives in **Example (from schema)**.

![image](https://user-images.githubusercontent.com/105520/195881969-6d9088af-2964-4ec0-a6f2-dcfa34858262.png)

I've been looking at the code, there is TODO 😄

https://github.com/PaloAltoNetworks/docusaur

[2022-10-14 19:33] maciekpitucha opened #297 "union of types combined with `anyOf` in content schema crashes the site"
## Describe the bug

The following schema crashes the website:

[code]

## Expected behavior

The website does not crash and correctly displays union of types `["string", "null"]`

## Current behavior

![image](https://user-images.githubusercontent.com/114495507/195923930-c2051611-545c-4d85-a246-142257d23437.png)

[browser console log](https://github.com/PaloAltoNetworks/docusaurus-openapi-docs/fi

[2022-10-14 20:11] sserrata commented on #297
Hi @maciekpitucha, I believe type only accepts a single value when following OpenAPI specification.

Reference: https://swagger.io/docs/specification/data-models/data-types/

[2022-10-14 21:29] #297 closed, assigned to nobody

[2022-10-17 09:41] AviandraPutri-Jubelio opened #299 "Cannot render <br> to create new lines in openapi path description"
Hi, just want to tell you that when I use **<.br.>** (sorry if I use a dot, but the actual is without a dot) or **<br  />** in my OpenAPI path description, it seems that it cannot be rendered as a new line. 

![image](https://user-images.githubusercontent.com/111033787/196143949-598ec3b6-6b1b-4f5e-bcc2-638b3d4d1cfd.png)

Do you have any ideas about what is wrong and what I should do to create new

[2022-10-17 14:36] sserrata commented on #296
Hi @OzzyCzech, thanks for reporting this issue. Can you share your OpenAPI spec or a snippet corresponding to the screenshot you provided?

[2022-10-17 14:39] OzzyCzech commented on #296
Sure @sserrata here is my project https://github.com/testomato/help.testomato.com/ and mine OpenAPI [yaml file](https://github.com/testomato/help.testomato.com/blob/master/src/testomato.yaml)

[2022-10-17 14:42] sserrata commented on #296
Thanks! I just tested locally (after uncommenting the lines you cited) and got the following:

<img width="619" alt="Screen Shot 2022-10-17 at 10 41 58 AM" src="https://user-images.githubusercontent.com/9343811/196207230-c1818274-99c5-43c9-adfb-946fc7ec552b.png">

Is that what you would expect?

[2022-10-17 14:43] OzzyCzech commented on #296
Yes, that's what should be there

[2022-10-17 14:51] sserrata commented on #296
Thanks. I believe it's safe to merge the change but I'd like to do a bit more testing before releasing in production, just to make sure. That said, I'll ping you when a canary release is available to test with.

[2022-10-17 14:53] OzzyCzech commented on #296
Sure, thank you very much.

[2022-10-17 14:53] #296 closed

[2022-10-17 15:38] sserrata commented on #296
Here's the canary release if you'd like to preview/test the change: `0.0.0-480`

[2022-10-17 16:23] sserrata commented on #299
Hi @AviandraPutri-Jubelio, can you share a snippet or link to your OpenAPI spec? Generally speaking, Docusaurus-style inline HTML-in-markdown/MDX should be supported but there are cases where it won't be fully supported.

[2022-10-17 17:03] sserrata commented on #299
Actually, I think I isolated the root case. We are intentionally escaping special characters by HTML-encoding them, such that their literal string representation can be displayed. This decision was made in order to avoid build issues when descriptions contained HTML-like characters, like when using `<` and `>` to denote variables or placeholders.

Examples:
* Denoting variables like this: This is

[2022-10-18 18:38] sserrata commented on #299
v1.3.1 now includes the fix

[2022-10-18 18:38] #299 closed

[2022-10-20 06:10] AviandraPutri-Jubelio commented on #299
Yes, it is now successfully rendered <.br /> into a new line! Yuhuu, thank you so much!

[2022-10-26 01:37] sradu opened #311 "Referenced examples not shown in schema"
## Describe the bug

Let's say I have an interface like:

[code]

Which is integrated like:

[code]

Inside the response schema (from example) I see "string" instead of the actual example:

<img width="134" alt="Screen Shot 2022-10-25 at 6 35 30 PM" src="https://user-images.githubusercontent.com/82214/197914051-638026df-784d-4371-afb7-18d2e0a9980f.png">

Swagger shows this OK.

## Expected behavio

[2022-10-26 14:17] sserrata commented on #311
Hi @sradu, can you share what version of the plugin/theme you are using?

[2022-10-26 17:15] sradu commented on #311
@sserrata apologies should have not deleted the last part. Using the latest version, 1.3.2.

[2022-10-26 18:16] sserrata commented on #311
Thanks, we'll try to reproduce. This should have been addressed in `v1.3.1` but it's possible it's an edge case we are not covering.

[2022-10-26 18:19] sradu commented on #311
Maybe because it's a couple of layers down via $ref?

`MainObjInterface` has properties `ChildObjInterface` has properties `SubChildObjInterface` which has the example?

[2022-10-26 18:26] sserrata commented on #311
It's a possibility..although all JSON and OpenAPI pointers should be pre-resolved prior to this stage...Do the examples appear under the Schema property (left hand side)?

[2022-10-26 18:37] sradu commented on #311
They don't appear there. Swagger shows them.

[2022-10-26 19:56] sserrata commented on #311
I'm wondering if there's an opportunity to extract the `example` here: https://github.com/PaloAltoNetworks/docusaurus-openapi-docs/blob/main/packages/docusaurus-plugin-openapi-docs/src/openapi/createRequestExample.ts#L180

Basically something like...

[code]

[2022-10-26 19:57] sradu commented on #311
Want me to email you the full spec I'm working on?

[2022-10-26 20:29] sserrata commented on #311
Sure, that would help. Thanks.

[2022-10-26 20:32] sradu opened #315 "npm run build fails with custom plugins"
If I have a docusaurus.config.js that has:

[code]

`npm run build` fails with:

[code]

## Possible solution

Here https://github.com/PaloAltoNetworks/docusaurus-openapi-docs/blob/main/packages/docusaurus-plugin-openapi-docs/src/index.ts#L33 check `if data[0] && data[0].endsWith()`.

[2022-10-26 20:36] sradu commented on #311
A million apologies. This was a bad bug report.

I updated the deps in my package.json but ran `rush update` out of habit instead of `npm i`. We removed docusaurus from our rush build because it just wouldn't work.

The examples are showing up correctly with the last release.

[2022-10-26 20:36] #311 closed

[2022-10-26 20:52] sserrata commented on #315
Hi @sradu, thanks for reporting the issue. Can you try wrapping the custom plugins in brackets for now?

[2022-10-26 20:54] sradu commented on #315
[code]

[2022-10-26 22:28] sserrata commented on #315
Oops, yeah I see why that wouldn't work. I think we should be able to detect if the plugin is an `Array` and if the first index is a string before checking to see if it matches the `pluginId`.

[2022-10-27 16:34] edd opened #316 "Clicking 'Send API Request' when button is disabled collapses/opens APIDemoPanel"
## Describe the bug

When browsing generated documentation, if an API Endpoint has required fields that are not filled in and the user clicks 'Send API Request' regardless, the panel will collapse.

## Expected behavior

Unsure. Three suggestions:
- An error should be displayed
- Focus should move that is required should be highlighted
- Nothing should happen

## Current behavior

The panel collap

[2022-10-27 17:52] blindaa121 commented on #316
Hi @edd, thanks for bringing this to our attention. We will be working on a fix for this as soon as possible 👍

[2022-10-27 21:17] #197 closed

[2022-10-27 21:17] #113 closed

[2022-11-02 16:43] karjona opened #319 "i18n support"
Hello everyone,
Currently, the plugin doesn't seem to generate much internationalization data when running `docusaurus write-translations`. Only a single i18n label appears to be generated, at least in my environment:

[code]

This makes it very difficult to translate API documentation generated by this plugin into different languages.

### Is your feature request related to a problem?

- No

###

[2022-11-03 19:15] sserrata commented on #319
Hi @karjona, thanks for reporting this issue! I am not too familiar with i18n and would appreciate any help you can provide. To start, can you explain how "labels" can/should be applied or point to an example? Thanks!

[2022-11-04 10:48] hdkshingala opened #323 "OpenAPI pages are crashed with Docusaurus v2.2.0"
## Describe the bug

The OpenAPI pages are crashing when we upgraded the Docusaurus from v2.1.0 to v2.2.0.

## Expected behavior

The plugin should work fine and should show the pages correctly.

## Current behavior

The OpenAPI related pages get crashed with below error:

![image](https://user-images.githubusercontent.com/34568645/199954028-a2f963fe-d8e7-4b11-a2f5-15af8633a2f7.png)

## Steps to r

[2022-11-04 10:57] selankon commented on #172
I have a similar issue, how you fixed this finally?

[2022-11-04 11:35] calthejuggler commented on #323
I'm having the same issue, and I also can't run the `docusaurus build` command. I'm getting the following error:
`[ERROR] Docusaurus server-side rendering could not render static page with path /docs/SDK API/collector-health-check.`

I'm thinking it's something to do with the `.api` suffix on the openapi filenames?

[2022-11-04 13:25] sserrata commented on #323
@hdkshingala thanks for reporting the issue. Although Docusaurus is supposed to respect semantic versioning now, they apparently still introduce breaking changes, at least for plugin maintainers. The fix for supporting v2.2.0 should be straightforward but I am not sure how we can make it backwards compatible with v2.1.0 and v2.0.1.

@calthejuggler, v2.2.0 is currently not supported due to a breaki

[2022-11-04 13:26] sserrata commented on #315
Hi @sradu, just published a fix in the latest canary release: `0.0.0-496`

Appreciate if you can test and report results - thanks!

[2022-11-04 13:41] sserrata opened #324 "[Bug] Multiline descriptions result in invalid frontmatter"
## Describe the bug

Some `info` and operation descriptions contain multiline strings. Mustache templating doesn't appear to support indenting multiline strings which limits our ability to handle these properly.

This is how we would want to handle them:

[code]

But, this is not supported or, at least, it results in only the first line being indented:

[code]

## Expected behavior

Mustache templ

[2022-11-04 14:14] sserrata commented on #324
Results of first test:

<img width="1874" alt="Screen Shot 2022-11-04 at 10 14 17 AM" src="https://user-images.githubusercontent.com/9343811/199996395-cc5736fd-ad94-4750-9b89-ebd787d7cf5c.png">

[2022-11-04 14:15] sserrata commented on #324
More elaborate example (notice only first line ends up in meta description):

<img width="1874" alt="Screen Shot 2022-11-04 at 10 15 08 AM" src="https://user-images.githubusercontent.com/9343811/199996590-be4d4d50-d74f-4a62-b61c-196f1dcf8451.png">

[2022-11-04 18:14] sradu commented on #172
All these ReactContextError bugs were my mistakes. Either dependency issues or bugs in swizzled jsx files.

[2022-11-04 18:24] sradu commented on #315
Seems to be working 👍

[2022-11-04 18:29] #315 closed

[2022-11-04 18:44] #324 closed

[2022-11-05 20:36] devgeetech opened #327 "Increase request execution timeout duration for "Try it" feature in ApiDemoPanel"
## Describe the bug

For the "Try It" feature, if the request takes more than 5 seconds to complete execution, the ApiDemoPanel will show a "Connection Failed" error.

## Expected behavior

The ApiDemoPanel shows the response even if the request takes more than 5 seconds to complete

## Current behavior

The ApiDemoPanel shows a "Connection Failed" error. The request actually completes its executi

[2022-11-07 16:44] sserrata commented on #327
Hi @devgeetech, thanks for reporting this issue. I think a new plugin config option that allows users to configure the `timeout` makes sense. We'll add it to our backlog of feature requests.

[2022-11-08 12:08] MJWang2022 opened #329 "Is there a way to customise the code behind "Send API Request"?"
### Is your feature request related to a problem?

No

### Describe the solution you'd like

I hope I can use my own way to encrypt my request (i.e. generate a signature and send it out)

### Describe alternatives you've considered

### Additional context

[2022-11-08 15:17] selankon commented on #319
Hi, same necessity here.

Another question is how to write swagger with internationalization support (maybe using something similar to [this](https://www.npmjs.com/package/swagger-i18n-extension)?)

Probably faster solution could be related to integrate docusaurus-openapi-docs to give support to [crowdin](https://docusaurus.io/docs/i18n/crowdin) or similars

[2022-11-08 20:46] sserrata commented on #329
Hi @MJWang2022, it might be possible to swizzle the `ApiDemoPanel/Execute` to override the request but this is untested.

[2022-11-09 10:08] MJWang2022 commented on #329
@sserrata Thank you; I managed to figure something out. One more question, how to specify a default value for parameters in "api":
"parameters":[{"name":"coin","in":"query","description":"Specify coin","required":false,"style":"form","schema":{"items":{"type":"string","default":"available"}}}]

Above configuration will require me to input. How to pre-configure a default value?

[2022-11-09 10:59] karjona commented on #319
Hello everyone,
To give a bit more context: when you run `docusaurus write-translations`, all supported plugins generate a .json file in the i18n folder of the docusaurus instance or update the `code.json` file in that same directory. The file contains all labels you can translate for that plugin and the description of where those labels are used.

For example, when running `docusaurus write-trans

[2022-11-09 19:03] blindaa121 commented on #316
Hi @edd, we've just released a new [version](https://github.com/PaloAltoNetworks/docusaurus-openapi-docs/releases/tag/v1.4.3) of the plugin that solves for this issue. Bear in mind, that we are also planning on an `ApiDemoPanel` form refactor to handle input validations (as this seems to be the ideal solution). Thank you for your patience! Let us know how the update goes 👍

[2022-11-09 20:13] sserrata commented on #329
Hi @MJWang2022, the plugin respects default or example property values in the OpenAPI specification. You should be able to define those in your request schemas/properties.

[2022-11-09 20:16] sserrata commented on #323
Hi all, just merged support for v2.2.0 into main. Would appreciate if anyone could test using canary release `0.0.0-505`. Thanks!

[2022-11-09 20:17] #316 closed

[2022-11-09 20:21] sserrata commented on #319
Thanks @karjona, I believe I identified how this is being done:

Lifecycle method: https://docusaurus.io/docs/api/plugin-methods/i18n-lifecycles#getDefaultCodeTranslationMessages
Example: https://github.com/easyops-cn/docusaurus-search-local/blob/master/docusaurus-search-local/src/server/index.ts#L38

We'll add this to our roadmap.

[2022-11-09 23:19] MJWang2022 commented on #329
"We can look into supporting this." - I will appreciate if you could support this. It's gonna improve user experience significantly

[2022-11-09 23:19] MJWang2022 commented on #329
BTW, is there a document to show all functions available for the json structure I can use after "api"?:[{"name":"coin","in":"query","description":"Specify coin","required":false,"style":"form","schema":{"items":{"type":"string","default":"available"}}}]

[2022-11-10 08:25] thomasheartman opened #337 "Invalid frontmatter: `sidebar_label`"
## Describe the bug

When the OpenAPI summary prop is used to generate a sidebar label or title, it doesn't quote (or otherwise escape) the value, causing invalid values in some cases.

Example (`title` is quoted and contains quoted values, which breaks the build):

[code]

## Expected behavior

All frontmatter values that may cause YAML parsing to fail should be quoted and escaped. Generation sho

[2022-11-10 13:06] thomasheartman commented on #337
Just for the record, it seems the plugin will also happily create quoted strings with unescaped quotes inside. We had:

[code]

This too breaks compilation as the yaml parser thinks that the value ends at the first inside quote.

[2022-11-10 13:11] thomasheartman commented on #323
@sserrata This _may_ be unrelated, but I think it's a continuation of the same issue. I've been having some issues today (as mentioned in #337), but I've found a potential workaround and have made some progress. As far as I've gotten now, I've tried out both `1.4.3` and canary `0.0.0-506` with docusaurus 2.2.0.
- With 1.4.3, I'd get the same error as listed above (except it would happen in the bui

[2022-11-10 13:45] sserrata commented on #323
Hi @thomasheartman, can you share your upgrade path or process? I noticed that if you run the suggested upgrade commands (pictured below) that not all dependencies are upgraded to 2.2.0. I'm still experimenting but I found that simply running `yarn upgrade` clears it up.

Upgrading this way seems to not update all Docusaurus dependencies to 2.2.0:

<img width="1119" alt="Screen Shot 2022-11-10 at

[2022-11-10 14:15] thomasheartman commented on #323
@sserrata So I've tried again and also made sure that all the deps are on the same version. it runs fine in development mode, but when running docusaurus build, it fails. Does that sound familiar?

[2022-11-10 14:35] sserrata commented on #323
What version of `docusaurus-openapi-docs` were you on before? Depending on upgrade path you might need to re-gen the API docs.

[2022-11-10 14:35] thomasheartman commented on #323
I've tried 1.4.3 and 1.4.1. I think I've regenerated the API docs every time, but I'll give it another go just to make sure 🙋🏼

[2022-11-10 14:44] thomasheartman commented on #323
Update: regenerating the docs doesn't seem to have any effect.

[2022-11-10 14:44] sserrata commented on #337
Thanks @thomasheartman, we had to address a similar/related issue with the `description` field.

Basically, the solution is to always wrap in double quotes and regex replace any pre-existing double quotes in the value with single quotes. We'll see if we can work the fix into this next release train.

[2022-11-10 14:45] sserrata commented on #323
Is it still working in dev? What's the build error you're seeing?

[2022-11-10 14:46] thomasheartman commented on #337
Wonderful! And yeah, that's the workaround we ended up with as well. Thanks for your input; looking forward to seeing it land 😄

[2022-11-10 14:50] sserrata commented on #323
If you haven't already, you might want to try some variation of:

[code]

[2022-11-10 14:55] thomasheartman commented on #323
Yeah, it builds fine in dev and visiting the generated pages doesn't cause any issues either.

The error I'm seeing is:

[code]

Which isn't very helpful at all. if I go into `/node_modules/@docusaurus/core/lib/client/serverEntry.js` and modify the compile function to log the actual error and remove anything chalk-related, I get this instead:

[code]

After clearing `node_modules`, `.docusarus`, a

[2022-11-10 15:50] sserrata commented on #337
Fix just released in `0.0.0-507`. Let me know if this addresses the issue.

[2022-11-10 20:01] sserrata commented on #323
The plot thickens...now I am seeing the same error but only when attempting to build the demo locally:

[code]

The weird thing is that it build in prod and in deploy previews.

[2022-11-10 20:13] sserrata commented on #323
Update: ended up being caused by some old generated files I forgot to cleanup in between tests. Worked after I deleted them.

[2022-11-11 07:21] thomasheartman commented on #337
Yeah, nice! Just tried it out now and it works like a charm; thank you ❤️

And just a heads up: I did some more testing, and the `sidebar_label` wasn't actually what was breaking (YAML will happily accept quotes inside a string if it doesn't start with quotes, it seems), but the internal quotes in the already quoted `title`. However, the unquoted `sidebar_label` **would** break if you tried to ins

[2022-11-11 07:21] #337 closed

[2022-11-11 07:39] thomasheartman commented on #323
Thanks, @sserrata! Unfortunately, we're seeing the issue both locally and when building docs in CI. I've also completely removed the generated directories a few times to avoid having outdated files lying around. We **did** have a similar issue once before, where it was caused by an empty file, but `find -type f -empty` doesn't yield any results in this case, so I **don't** think that's the issue i

[2022-11-11 09:46] thomasheartman commented on #323
So I'm making some progress, and it looks like the error _is_ indeed related to this package: I found that

1. If I remove all generated files and remove the sidebar reference from my sidebars.js file, then it compiles without issue.
2. If I add the generated files, but not the sidebar reference, I get the same error as reported previously (can't find current sidebar), but I get **23** instances o

[2022-11-11 11:00] thomasheartman commented on #323
@sserrata I think I found the issue 🙋🏼 I'll try and explain it here, but in short: the plugin generated two tag files it didn't reference. That would also explain why sidebar reference couldn't be found.

## The root cause

The OpenAPI spec we use to generate the docs has a number of tags listed at the root level. This is necessary for this plugin to pick up tag categories and is, as far as I can

[2022-11-11 14:14] sserrata commented on #323
Hi @thomasheartman, thanks for the detailed write up - you helped me understand that this is a regression bug introduced in #276. I think it can be refactored to exclude any global tags that are _not_ referenced by an operation.

[2022-11-11 17:49] thomasheartman commented on #323
Yes, that should cover it 😁 🙌

[2022-11-11 18:42] sserrata commented on #323
@thomasheartman fix is included in `0.0.0-513` is you want to test before next release.

[2022-11-11 20:21] thomasheartman commented on #323
Wow, amazing! I'll give it a spin on Monday and look forward to the next release, then 😄  Is there a scheduled date for it (or a rough estimation)?

[2022-11-11 20:29] sserrata commented on #323
It's available now: v1.4.4

[2022-11-11 20:32] sserrata commented on #329
Hi @MJWang2022, the `api` JSON structure is derived from the OpenAPI spec itself. It's basically the props for a given operation/endpoint.

[2022-11-11 20:32] thomasheartman commented on #323
Legend 🔥

[2022-11-12 17:54] TheCatLady opened #342 "<option> elements do not have background color defined"
## Describe the bug

Dropdown menus are difficult to see/read in dark mode.

## Expected behavior

Dropdown menus should be styled appropriately in dark mode.

## Current behavior

`<option>` elements do not have background color defined, and as a result the light text color in dark mode becomes difficult to read.

## Possible solution

Define background color for `<option>` elements.

## Steps to

[2022-11-12 18:19] maciekpitucha opened #343 "`items` schema of an `array` field is not displayed if `anyOf` is used"
## Describe the bug

the following schema

<details><summary>schema</summary>

[code]
</details>
is displayed as

![image](https://user-images.githubusercontent.com/114495507/201488687-005305ea-3472-439f-a88f-4a15d6e7dc40.png)

Schema of the `items` options is not displayed.

## Expected behavior

The schema is displayed in a way that elements in `anyOf` property of `items` are displayed.

## Curr

[2022-11-13 02:32] TheCatLady commented on #342
Ah, the issue appears to be that `--openapi-input-background` is not defined. 😄

[2022-11-14 15:22] sserrata commented on #343
Hi @maciekpitucha, thanks for reporting. This is a new edge case for our plugin that I believe we can support. My initial thought is that we can use `DiscriminatorTabs` to allow for choosing the object schema you want to reference inside the array.

[2022-11-14 15:27] sserrata commented on #342
Hi @TheCatLady, thanks for reporting the issue. We did recently refactor how styles are exported by the theme so it's possible we broke something.

 Are you seeing the issue across different browsers? So far I've been unable to reproduce.

[2022-11-14 21:01] sserrata commented on #225
Hi @daltonconley, nothing yet. Hoping to get started on this one for the next minor release.

[2022-11-14 21:47] TheCatLady commented on #342
I've only tested on Windows Chrome. DevTools also shows that the CSS variable `--openapi-input-background` is not defined:
<img width="293" alt="image" src="https://user-images.githubusercontent.com/52870424/201773734-e0c43ce2-0c45-42d8-93a2-87fb971f8641.png">

I was also able to mitigate this issue on our Docusaurus install by defining the value of `--openapi-input-background`: https://github.com

[2022-11-15 04:52] hdkshingala commented on #323
Upgraded out setup to Docusaurus 2.2.0 and Plugin v1.4.4 and it is working as expected now.

Thanks a lot @sserrata for providing a real quick.

[2022-11-15 04:52] #323 closed

[2022-11-15 14:21] sserrata commented on #343
Hi @maciekpitucha, thanks again for bringing this issue to our attention. It actually pointed me to a bug that we hadn't noticed before which could have prevented schema properties from rendering in some cases.

Does the following match what you would expect to see?

<img width="400" alt="Screen Shot 2022-11-15 at 9 20 53 AM" src="https://user-images.githubusercontent.com/9343811/201942739-c1403f4

[2022-11-15 15:26] sserrata commented on #342
Hi @TheCatLady, thanks for the additional detail/context. I added the `--openapi-input-background` variable back in #344 and matched it to the card background by default. Of course, this can always be overridden as you have demonstrated.

Let me know if this works/makes sense.

[2022-11-15 15:30] sserrata commented on #343
@maciekpitucha the fix is now available to test using canary release `0.0.0-515`.

[2022-11-15 16:06] #343 closed

[2022-11-15 16:07] #342 closed

[2022-11-18 02:11] sradu commented on #246
@sserrata any ETA on the PR that will allow us to swizzle? The docusaurus 2.2.0 changes broke some customizations I had and I have no idea how to make them work now.

For instance, I had this css:

[code]

Which allowed me to avoid applying some CSS for the API reference. But now the structure has changed to what is below which is fine just that I don't want to keep on playing around with the CSS,

[2022-11-18 15:55] colin-mckibben-sp opened #347 "Example request body doesn't honor readOnly property"
## Describe the bug

If a schema marks a property as `readOnly: true`, then the resulting markdown will remove the property from the request body schema, but it will **not** remove it from the example request body.

The following schema, truncated for brevity, marks `id`, `created`, and `modified` as `readOnly`.

[code]

The schema renders correctly, omitting those three fields:
![image](https://u

[2022-11-18 16:30] jordan-violet-sp opened #348 "downloadUrl should work as a Docusaurus static link"
### Is your feature request related to a problem?

You have to provide an already existing url to a spec to download.

### Describe the solution you'd like

We'd like to be able to provide a static link to a local file to download the API specification. In this case, we'd like to provide the url 'files/spec.json' and Docusaurus would render the link at build.

[2022-11-18 17:02] philip-ellis-sp opened #349 "allOf not displayed correctly when part of an array type"
## Describe the bug

If I have a spec defined with an array with items that are allOf under it, the generated documentation does not show the response correctly

## Expected behavior

The response should show all of the objects defined in the schema.

## Current behavior

Currently, the only thing that is displayed is the text "allOf" Example below:

![image](https://user-images.githubusercontent.

[2022-11-22 09:55] selankon commented on #246
Hi,

Same for me, swizzling any component from either `@docusaurus/theme-classic`  or  `docusaurus-theme-openapi-docs` using eject, doesn't work.

I would like to add a reaction component at the end of the article, so pure CSS won't work for me.

[2022-11-22 10:30] selankon commented on #246
Update:

Looking into, I tried to `swizzle-eject` some  `@docusaurus/theme-classic` components until got a successfully ejected component when ejecting stuff from the `DocPage/*`.

But it fail when trying to eject or wrap components from the `DocItem/*` (from theme classic) or `ApiItem/*` (from `docusaurus-theme-openapi-docs`).

Also found that CSS classes used on "normal" page docs are the openap

[2022-11-22 15:16] sserrata commented on #246
Hi everyone, after some experimenting I believe I confirmed the root cause. We're using relative path imports throughout the OpenAPI theme which breaks after swizzling. The fix will require refactoring all theme components to import from `@theme/ApiItem` or `@theme/ApiDemoPanel`, respectively. Since we are a mostly typescript project this change will also require adding the necessary module declar

[2022-11-22 15:52] sserrata commented on #348
Hi Jordan, I think you're asking if the OpenAPI spec file can be imported and bundled using webpack? It's definitely possible but we'd want to make sure it's not being altered during the compilation/build process.

[2022-11-25 17:08] calthejuggler opened #350 "API Key Security Schemes with whitespace"
### Is your feature request related to a problem?

Our users will need to input their API Key in the form of "Api-Key aRandomApiKey", but I cannot seem to have whitespace in the Authorization input.

### Describe the solution you'd like

Whitespace as allowed in the Authorization input.

### Describe alternatives you've considered

Adding a regex pattern (`^Api-Key\s\S+`) to the `scheme` field in